<!DOCTYPE html>
<html>
   <head>
    <title>教师中心-学生信息</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ststic/study/css/base.css">
    <link rel="stylesheet" href="/ststic/study/css/center.css">
    <link rel="stylesheet" href="/ststic/study/css/u_mob.css">

    <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
    <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
    <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

    <script type="text/javascript" src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>教师中心-学生信息</span><a href="#" class="menubtn"></a>
                {include public/left_menus}
            </div>
        
       <!--  <div class="classroom_right ">
           <h3 class="t_student cl">学生信息</h3>
           <div class="t_cr_left t_fbcj fl">
               <ul class="clearfix div_ul2">
                   {loop $courseList $key $value}
                      <li {if $goodsid == $value['id']}class="on"{/if}><a href="{F:url('index',array('goodsid'=>$value['id']))}" >{$value['title']}</a></li>
                   {/loop}
               </ul>
           </div> -->
        
        <div class="classroom_right ">
            <h3 class="t_student cl">添加学生信息</h3>
            <div class="t_cr_left t_fbcj fl">
                <p class="onli">课程分类</p>
                <ul class="clearfix div_ul2">
                    {loop $courseList $key $value}
                      <li {if $goodsid == $value['id']}class="on"{/if}><a href="{F:url('index',array('goodsid'=>$value['id']))}" >{$value['title']}</a></li>
                   {/loop}
                </ul>
            </div>


     	<div class="t_cr_right fr demo1">
        	<div class="table_div">
            <table class="z_i">
            	<thead>
                        <th width="15%">姓名</th>
                        <th width="25%">学号</th>
                        <th width="45%">邮箱</th>
                        <th width="15%">操作</th>
                    </thead>
                    {loop $list $value}
                    <tr >
                        <td>{$value['real_name']}</td>
                        <td>{F:sprintf('%08d',$value['uid'])}</td>
                        <td>{$value['mail']}</td>
                        <td align="center"><div><a href="{F:url('detail',array('goodsid'=>$value['goods_id'],'uid'=>$value['id']))}" class="bj"></a>
                        <!-- <a href="javascript:;" class="del"></a> --></div></td>
                    </tr>
                    {/loop}
                </table>
                 </div>
                    <div class="table_bo">
                    <!-- <a class="btn_ck_st" href="#">添加学生信息</a> -->
                    {if $pages}
                    <div class="page ">
                        <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                        <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                        <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
                    </div>
                    {/if}
                    </div>
        </div>
            
        
        </div>
   </div>
</body>
<script>
    $(document).ready(function(){
  $(".onli").click(function(){
  $(".t_cr_left ul").slideToggle();
  });
   });

    </script>
<script>
$(".btn_ck_st").click(function(){
    $(".xiugais").slideToggle();
})
$(".closebox ").click(function(){
    $(".xiugais").css("display","none");
})
 </script>
</html>
