<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>Sign up</title>
    <link rel="stylesheet" href="/ststic/study/css/base.css">
    <link rel="stylesheet" href="/ststic/study/css/index.css">
    <link rel="stylesheet" href="/ststic/study/css/mob.css">

</head>
<body style="overflow:hidden">
	<div class="header">
    	<div class="header_box">
        	<div class="logo fl"><a href="/"><img src="/ststic/study/images/logo.png" /></a></div>
        </div>
    </div>
    <div class="reg">
    	<div class="reg_box">
        	<form class="form-horizontal" action="">
            	<h3>Sign up</h3>
                <p class="name"><span><i></i><input type="text" class="input" name="username" placeholder="username"></span></p>
                <p class="name"><span><i></i><input type="text" class="input" name="mobile" placeholder="mobile number"></span></p>
            	<p class="name"><span><i></i><input type="text" class="input" name="mail" placeholder="E-mail"></span></p>
            	<p class="password"><span><i></i><input type="password" name="password" class="input" placeholder="Please enter your password"></span></p>
            	<p class="password"><span><i></i><input type="password" name="password2" class="input" placeholder="Please re-enter the login password"></span></p>
            	<a href="javascript:;" class="btn_ico btn-comply" config-true-url="{F:url('/index/user/login')}">Sign up</a>
                <b >Already have an account，<a href="{F:url('/index/user/login')}">log in</a></b>
            </form>
        </div>
    </div>
    <div id="sections-wrapper">
        <section class="show" data-img="/ststic/study/images/bg.jpg">
            
        </section>
    </div>
    <!-- sections control -->


</body>
    <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
    <script type="text/javascript" src="/ststic/study/js/anime.min.js"></script>
    <script type="text/javascript" src="/ststic/study/js/interaction.js"></script>
    <script type="text/javascript" src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>

</html>