
<!DOCTYPE html>
<html>
   <head>
        <title>教师中心-试卷安排</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        
        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>


   </head>
<body bgcolor="f1f1f1" >
    
        <div class="center">
            <div id="navbar"><span><i class="ico2"></i>教师中心-评论管理</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
        
        <div class="classroom_right teacher_right_t">
                <h3 class="ks_zy" >试卷安排</h3>
            <div class="t_cr_left t_kczy fl">
                <p class="onli">课程安排</p>
                <ul class="clearfix div_ul2">
                 <li {if !$type || $type == 1}class="on"{/if}>
                    <a href="{F:url('lessons',array('type'=>1))}" class="kcap">课程安排</a>
                  </li>

                  <li {if $type == 2}class="on"{/if}>
                    <a href="{F:url('lessons',array('type'=>2))}" class="zyap">作业安排</a>
                  </li>

                  <li {if ACTION == 'exam'}class="on"{/if}>
                    <a href="{F:url('exam')}" class="zyap">试卷安排</a>
                  </li>

                  <li {if ACTION == 'down_user_classwork'}class="on"{/if}>
                    <a href="{F:url('down_user_classwork')}" class="xzzy">下载作业</a>
                  </li>

                    <a href="javascript:;" class="btn_fb" style="color:#fff">发布安排</a>
                </ul>
            </div>
  <script>
    $(document).ready(function(){
    $(".onli").click(function(){
      $(".t_cr_left ul").slideToggle();
      });
   });

    </script>

        <div class="t_cr_right fr">
                <ul class="kczy">
                {loop $list $value}
                    <li>
                        <p class="name"><a href="javascript:;">{$value['goods']['title']} 考卷:{$value['exam']['name']}</a></p>
                        <p class="zy_cont">{$value['content']}</p>
                        {loop $value['annex'] $v}
                        <p class="wenjian"><a href="{$v['url']}" target="_blank">{$v['name']}</a></p>
                        {/loop}
                        <p class="time"><span>时间：{F:date('Y/m/d H:i:s',$value['created'])}</span><span>教师：{$value['teacher']['real_name']} </span></p>
                    </li>
                {/loop}
                </ul>
            
            </div>

        </div>
   </div>

        <div class="xiugais  clearfix">
            <form class="form-horizontal" action="{F:url('lessonsPost',array('type'=>3))}">
                <input  type="hidden" value="" name="annex" />
                <div class="xiugai_box">
                    <div class="close"><a href="javascript:;" class="closebox"></a></div>
                    <b>发布安排</b>
                    <p><span>课程名称</span>
                        <select style="width: 70%;height:30px;padding: 5px;border: 1px solid #dcdcdc;" name="goods_id">
                            <option value="">选择课程</option>
                            {loop $courseList $value}
                            <option value="{$value['id']}">{$value['title']}</option>
                            {/loop}
                        </select>
                    </p>
                    <p><span>选择试卷</span>
                        <select style="width: 70%;height:30px;padding: 5px;border: 1px solid #dcdcdc;" name="exam_id">
                            <option value="">选择试卷</option>
                            {loop $examList $value}
                            <option value="{$value['id']}">{$value['name']}</option>
                            {/loop}
                        </select>
                    </p>
                    <p><span>描述</span><textarea name="content" cols="" rows=""></textarea></p>
                    <p class="iDate date"><span>开始日期</span><input type="text" placeholder="课程开始时间" name="start_time"><button type="button" class="addOn"></button></p>
                    <a class="btn_xg btn-comply" href="javascript:;">提交</a>
                </div>
            </form>
        </div>  
</body>
<script>
$(".btn_fb").click(function(){
  $(".xiugais").slideToggle();
})
$(".closebox ").click(function(){
      $(".xiugais").css("display","none");
})

$(document).ready(function(){
    // date time picker
    if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
})


/** 上传附件 */
$("input[name='tmp_annex']").change(function(e){
  var _this = this;
  var files = e.target.files || e.dataTransfer.files;
  var filesNum = Math.max(parseInt($('.wenjian').find('label').text()),0) + 1;
  var formData = new FormData();
  formData.append('file', files[0]);
  formData.append('path', 'test');

  //ajax异步上传  
  $.ajax({  
      url: '/common/upload/up_file',  
      type: 'POST',  
      data: formData,
      dataType: 'json',  
      contentType: false, //必须false才会自动加上正确的Content-Type  
      processData: false,  //必须false才会避开jQuery对 formdata 的默认处理  
      success: function(result){
          if(!result.status){
          }else{
           
            $('.wenjian').find('label').text(filesNum);
            var val = $('input[name="annex"]').val();
            if(val){
               val =val+','+result.data.name[0]+':::'+files[0]['name'];
            }else{
               val = result.data.name[0]+':::'+files[0]['name'];
            }
           
            $('input[name="annex"]').val(val);
          }
          return layer.msg(result.msg);               
      },  
  });  

})
</script>

</html>
