
<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-下载专区</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 

        <script src="/ststic/study/js/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/js/menu.js"></script>
   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<header>
            <div id="navbar"><span><i class="ico2"></i>学生门户-下载专区</span><a href="#" class="menubtn"></a>
            {include public/left_menus}
            </div>
            </header>
        
        <div class="classroom_right">
        		<h3 class="my_news t-class-title download-title">下载专区</h3>
            <div class="t_cr_left fl">
                <b>同学您好！</b>
                <span>这里是恒鼎学院下载专区，您上课所需要的内容，都可以在这里下载</span>
            </div>
            <script>
                $(document).ready(function(){
                    $(".onli").click(function(){
                        $(".t_cr_left ul").slideToggle();
                    });
                });

            </script>
            <div class="t_cr_right fr">
            	<ul class="kczy">
                    {loop $list $value}
                	<li>	
                    	<p class="name"><a href="#">{$value['title']}</a></p>
                        <p class="zy_cont">{$value['description']}</p>
                        {loop $value['url'] $v}
                            <p class="wenjian download-file"><a href="{$v}">{$v}</a></p>
                        {/loop}
                    </li>
                    {/loop}
                
                    {if $pages}
                    <div class="page ">
                        <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                        <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                        <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
                    </div>
                    {/if}
                </ul>
            
            </div>
            
        
        </div>
   </div>

      	<div class="xiugais  clearfix">
        	<div class="xiugai_box">
            	<div class="close"><a href="#" class="closebox"></a></div>
                <b>发布课程安排</b>
                <p><span>课程名称</span><input type="text"  placeholder="请输入"/></p>
                <p><span>描述</span><textarea name="" cols="" rows=""></textarea></p>
            	<p><span>附件</span> <a href="t_zxzy.html" class="btn_sc"><input type="file" />立即上传</a></p>
                <a class="btn_xg" href="#">立即上传</a>
            </div>
        </div>  
</body>
<script>
  $(".btn_fb").click(function(){
	  $(".xiugais").slideToggle();
  })
  $(".closebox ").click(function(){
		  $(".xiugais").css("display","none");
	  })

</script>
<script type="text/javascript">
$(document).ready(function(){
    // date time picker
    if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
})
</script>



</html>
