
<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-评论管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        
        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>


   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>教师中心-我发布的帖子</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
        
        <div class="classroom_right clearfix " >
        	<h3 class="t_student t_talk_about">我发布的帖子</h3>
        	<div class="t_cr_left t_fbcj fl">
            	<p class="onli">
                {if ACTION == 'lessons'}
                  课程评论
                {elseif ACTION == 'bbs'}
                  论坛评论
                {else}
                  我发布的帖子
                {/if}
              </p>
            	<ul class="clearfix div_ul2">
                    <li {if ACTION == 'lessons'}class="on"{/if}><a href="{F:url('lessons')}" class="kc_pp">课程评论</a></li>
                    <li {if ACTION == 'bbs'}class="on"{/if}><a href="{F:url('bbs')}" class="lt_pp">论坛评论</a></li>
                    <li {if ACTION == 'my_article'}class="on"{/if}><a href="{F:url('my_article')}" class="my_pp">我发布的帖子</a></li>                 
                    <!-- <li><button type="button">发帖</button></li> -->
                </ul>
               
            </div>
     	<div class="t_cr_right fr demo1 ">
         <ul class="t_my_pp">
            {loop $list $value}
          	<li>
              	<p class="title">{$value['title']}{if !$value['is_review']} <b style="color: red">[审核中]</b>{/if}</p>
                  <a class="chankan" href="{F:url('/index/bbs/detail',array('id'=>$value['id'],'cid'=>$value['column_id']))}">查看详情</a>
    			<span class="del btn-ajax-post" config-tips="删除后文章将不再存在，确定删除？" config-href="{F:url('del_article')}" data-id="{$value['id']}">删除</span>
                 <span class="time">{F:date('Y/m/d',$value['publish_time'])}</span>
            </li>
            {/loop}

            {if $pages}
            <div class="page ">
                <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
            </div>
            {/if}
          </ul>
        </div>
        </div>
            
        
        </div>
   </di
></body>
<script>
  $(".add_inf").click(function(){
	  $(".xiugais").slideToggle();
  })
  $(".closebox ").click(function(){
		  $(".xiugais").css("display","none");
	  })

</script>
      <script>
    $(document).ready(function(){
  $(".onli").click(function(){
  $(".t_cr_left ul").slideToggle();
  });
   });

    </script> 

</html>
