
<!DOCTYPE html>
<html>
   <head>
        <title>教师中心-评论管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        
        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>



   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>教师中心-课程评论</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>

        <div class="classroom_right clearfix " >
        	<h3 class="t_student t_talk_about">课程评论</h3>
        	<div class="t_cr_left t_fbcj fl">
            	<p class="onli">{if ACTION == 'lessons'}
                  课程评论
                {elseif ACTION == 'bbs'}
                  论坛评论
                {else}
                  我发布的帖子
                {/if}</p>
            	<ul class="clearfix div_ul2">
                    <li {if ACTION == 'lessons'}class="on"{/if}><a href="{F:url('lessons')}" class="kc_pp">课程评论</a></li>
                    <li {if ACTION == 'bbs'}class="on"{/if}><a href="{F:url('bbs')}" class="lt_pp">论坛评论</a></li>
                    <li {if ACTION == 'my_article'}class="on"{/if}><a href="{F:url('my_article')}" class="my_pp">我发布的帖子</a></li>                 
                   <!--  <li><button type="button">发帖</button></li> -->
                </ul>
               
            </div>
			<div class="t_cr_right pp_t fr navgation ">
             <div class="width80 clearfix">
                {loop $list $value}
                <div class="com_pp clearfix">
                	<div class="left_img"><img src="{$value['goods']['thumb']}" /></div>
                	<div class="comm_title">
                    	<p class="title_pp"><a href="#" class="names">{$value['goods']['title']} </a></p>
                        <p class="comm_cont"><b>“</b>{$value['user']['real_name']} 评论： {$value['content']}”<b>”</b></p>
                        <p class="time_hf"><span class="times">{F:date('Y/m/d',$value['created'])}</span><span class="dels btn-ajax-post" config-tips="删除后评论将不会存在,确定删除?" config-href="{F:url('del_lessons_comment')}" data-id="{$value['id']}">删除</span></p>
                    </div>
                    
                </div>
                {/loop}
                
                
                {if $pages}
                <div class="page ">
                    <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                    <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                    <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
                </div>
                {/if}
       
			</div>
        
        </div>     	
            
        
        </div>
   </div>


         
</body>
<script>
  $(".un_fina").click(function(){
	  $(".xiugais").slideToggle();
  })
  $(".closebox ").click(function(){
		  $(".xiugais").css("display","none");
	  })

</script>
<script type="text/javascript">
$(document).ready(function(){
    // date time picker
    if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
})
</script>
  <script>
    $(document).ready(function(){
  $(".onli").click(function(){
  $(".t_cr_left ul").slideToggle();
  });
   });

    </script> 


</html>
