<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>{$this->thisColumn['name']}</title>
    <link rel="stylesheet" href="/ststic/undies/css/style.css">
    <link rel="stylesheet" href="/ststic/undies/css/cmj.css">
    <script type="text/javascript" src="/ststic/undies/js/flexible.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/zepto.min.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/zepto.touch.js"></script>
</head>
<body style="overflow-x:hidden; ">
    <div class="header about-header">
        <span>{$this->thisColumn['name']}</span>
        {if $menus}
        <div class="video-nav">
            <ul>
                {loop $menus $value}
                <li>
                    <a href="{$value['jump_url']}" {if $cid == $value['id']}class="intro-hover"{/if}>{$value['name']}</a>
                </li>
                {/loop}
            </ul>
            <div class="clearfix"></div>
        </div>
        {else}
            <a href="/">
                <img src="/ststic/undies/images/back.png">
            </a>
        {/if}
    </div>

    <div class="sr-content">
        {if $id}
        <div class="message" style="margin-top: 2rem;">
            <h3>{$data['title']}</h3>
            <p>{F:date('Y-m-d',$data['created'])}</p>
        </div>
        {/if}

        {$data['content']}
    </div>
    {include public/footer}

    <script type="text/javascript">
        +function(){
            $(".data-type").tap(function(){
                $(this).hide().prev().hide();
                var video=document.getElementsByTagName("video")[0];
                video.style.display="block";
                video.play();
            })
        }()
    </script>
</body>
</html>