<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>{$this->thisColumn['name']}</title>
    <link rel="stylesheet" href="/ststic/undies/css/style.css">
    <link rel="stylesheet" href="/ststic/undies/css/cmj.css">

    <script type="text/javascript" src="/ststic/undies/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/flexible.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>
<body class="special-body" style="overflow-x:hidden; ">
    <div class="header about-header">
      <span>{$this->thisColumn['name']}</span>
        {if $menus}
        <div class="video-nav">
            <ul>
                {loop $menus $value}
                <li>
                    <a href="{$value['jump_url']}" {if $cid == $value['id']}class="intro-hover"{/if}>{$value['name']}</a>
                </li>
                {/loop}
            </ul>
            <div class="clearfix"></div>
        </div>
        {else}
            <a href="/">
                <img src="/ststic/undies/images/back.png">
            </a>
        {/if}
    </div>
    <div class="apply-container">
        <div class="apply-title">
            <img src="/ststic/undies/images/apply-text1.png">
            <img src="/ststic/undies/images/apply-text2.png">
        </div>
        <form class="form-horizontal">
            <ul class="apply-basic">
                <li>
                    <div>申请人姓名</div>
                    <input type="text" name="apply_name">
                </li>
                <li>
                    <div>加盟城市/区域</div>
                    <input type="text" name="join_city">
                </li>
                <li>
                    <div>计划开店时间</div>
                    <input type="text" name="open_shop_time">
                </li>
                <li>
                    <div>申请人时间</div>
                    <input type="text" value="{F:date('Y-m-d',TIME)}" disabled>
                </li>
                <li>
                    <img src="/ststic/undies/images/apply-text3.png" alt="">
                    <p>欧拉曲曼加盟者请在阅读欧拉曲曼介绍后，如实填写《加盟申请书》，并须附本人身份证件复印件。</p>
                </li>
            </ul>
            <ul class="company-data">
                <li>
                    <img src="/ststic/undies/images/apply-text4.png">
                </li>
                <li>加盟热线：<span>400-667-2276</span></li>
                <li>官网：<span>http://www.orlqm.com</span></li>
                <li>地址：<span>重庆市南岸区亚太路9号玖玺国际6栋3楼</span></li>
                <li>右边：<span>400060</span></li>
                <li>为详细的了解您对欧拉曲曼专卖店的理解情况，请您认真完成回答以下问题，方便我们全面了解您的加盟意向，双方建立稳定长期的合作关系。</li>
            </ul>
            <div class="company-cognition">
                <p>一、您对《欧拉曲曼》之了解</p>
                <ul>
                    <li>
                        <div>市场定位</div>
                        <textarea name="market_positioning"></textarea>
                    </li>
                    <li>
                        <div>品牌风格</div>
                        <textarea name="brand_Style"></textarea>
                    </li>
                    <li>
                        <div>主营系列</div>
                        <textarea name="main_series"></textarea>
                    </li>
                    <li>
                        <div>货品价格</div>
                        <textarea name="price"></textarea>
                    </li>
                </ul>
            </div>
            <div class="proposer-data">
                <p>二、申请人资料</p>
                <ul>
                    <li>
                        <div>
                            <input type="text" placeholder="姓名" name="name">
                        </div>
                        <div>
                            <select name="sex">
                                <option value="男" selected>男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="text" placeholder="年龄" name="age">
                        </div>
                        <div>
                            <select name="culture">
                                <option value="" selected>文化程度</option>
                                <option value="高中">高中</option>
                                <option value="大专">大专</option>
                                <option value="本科">本科</option>
                                <option value="本科以上">本科以上</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="text" placeholder="联系方式" name="mobile">
                        </div>
                        <div>
                            <input type="text" placeholder="现从事行业" name="work">
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="text" placeholder="QQ" name="qq">
                        </div>
                        <div>
                            <input type="text" placeholder="微信" name="weixin">
                        </div>
                    </li>
                    <li>
                    	<input type="text" placeholder="上传身份证" disabled>
                    	<ul>
                    		<li>
                    			<div>
                    				<img src="/ststic/undies/images/index-banner.png" class="file">
                    			</div>
                    			<img src="/ststic/undies/images/apply-right.png">
                    			<input type="file" name="file" id="file" style="display: none;">
                                <input type="hidden" name="code" >
                    		</li>
                    	</ul>
                    </li>
                    <li>
                        <input type="text" placeholder="现住址" name="address">
                    </li>
                </ul>
            </div>
            <div class="proposer-data">
                <p>二、申请专卖店城市</p>
                <ul>
                    <li>
                        <div>
                            <input type="text" placeholder="申请专卖店城市" name="join_city">
                        </div>
                        <div>
                            <input type="text" placeholder="平均房价和人均收入" name="average_income">
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="text" placeholder="该城市高档商圈" name="h_shop_name">
                        </div>
                        <div>
                            <select name="culture">
                                <option value="" selected>目前是否有理想店面</option>
                                <option value="有">有</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="text" placeholder="计划开店时间" name="open_shop_time">
                        </div>
                        <div>
                            <input type="text" placeholder="计划投入资金" name="invest_funds">
                        </div>
                    </li>
                    <li>
                        <div>
                            <select name="run_type">
                                <option value="" selected>经营方式</option>
                                <option value="个人">个人</option>
                                <option value="合伙">合伙</option>
                                <option value="公司">公司</option>
                            </select>
                        </div>
                        <div>
                            <select name="management_type">
                                <option value="" selected>管理方式</option>
                                <option value="本人">本人</option>
                                <option value="雇员工">雇员工</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <select name="join_type">
                            <option value="" selected>申请加盟方式</option>
                            <option value="商城店">商城店</option>
                            <option value="购物中心店">购物中心店</option>
                            <option value="社区店">社区店</option>
                            <option value="商业街门店">商业街门店</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="apply-plan">
                <p>四、是否有加盟其他品牌经历</p>
                <textarea name="experience"></textarea>
            </div>
            <div class="apply-plan">
                <p>五、您如果成功加盟后，具体的发展计划是什么？</p>
                <textarea name="plan"></textarea>
            </div>
            <button type="button" class="btn-comply">提交申请</button>
        </form>
    </div>
    {include public/footer}
</body>
<script type="text/javascript">
$(document).ready(function(){

    //上传
    $('.file').click(function(){
        $('input[id=file]').wrap('<form>').closest('form').get(0).reset();
        $('input[id=file]').trigger('click');
    })

    $('#file').change(function(e){
        var files = e.target.files || e.dataTransfer.files;
        var reader = new FileReader();
        reader.readAsDataURL(files[0]); 
        reader.onload = function(e){
            $.post('/common/up_base64_img',{data:e.target.result,path:'code'},function(result){
                if(result.status){
                    $('.code').find('img').attr('src',result.data);
                    $('input[name=code]').val(result.data);
                    $('.file').attr('src',result.data);
                }else{
                    layer.msg(result.msg);
                }

                //删除照片
                $('.btn-del-img').click(function(){
                    //console.log($(this).parent().html());
                    $(this).parent().remove();
                    bindValue();    
                })

            },"json");
        }
    });
})
</script>
</html>