
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
    <title>学生门户 - 个人资料</title>
    <meta http-equiv="Content-Type" content="charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ststic/study/css/base.css">
    <link rel="stylesheet" href="/ststic/study/css/center.css">
    <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
    
    <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
    <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
    <script type="text/javascript" src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	{include public/left_menus}
        
        <div class="classroom_right ">
        	<h3 class="t_students">资料管理</h3>
        	<div class="t_cr_lefts t_fbcj fl">
            	<ul>
                	<li class="on"><a href="{F:url(index)}" class="t_info">基本资料</a></li>
                    <li ><a href="{F:url(edit_password)}" class="lt_pp">密码修改</a></li>
                </ul>
            </div>


     	<div class="t_cr_right  fr">
        	<form class="form_div">
           		<p><span>头像：</span><div class="img"><a href="#"><img src="images/toux.jpg" /></a></div></p>
            	<p><span>用户名：</span>Yang</p>
            	<p><span>姓名：</span>杨洋</p>
                <p><span>手机号：</span>15213435996</p>
            	<p><span>电子邮箱：</span>1005336621qq.com</p>
                <p><span>家庭地址：</span>1005336621qq.com</p>
				<div class="lines"></div>
            	<a class="btn_bc" href="{F:url(edit)}">修改</a>
            </form>
        
        </div>
            
        
        </div>
   </div>
</body>
<script type="text/javascript">
$(document).ready(function(){
    // date time picker
    if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
})
</script>

</html>
