
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

   <head>
        <title>学生门户-进入教室</title>
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        
        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	{include public/left_menus}
        
        <div class="classroom_right">
        		<h3 class="my_news">进入一对一教室</h3>
        	<div class="t_cr_left fl">
            	<b>老师您好！</b>
                <span>开课前半小时您就可以进入直播教室，请耐心等待！</span>
            </div>
        	<div class="t_cr_right fr">
            	<div class="img_sp"><img src="/ststic/study/images/sp.jpg" /><span>正在候课中……</span></div>
                <a class="join" href="#">立即加入</a>
            
            </div>
        
        </div>
        
        
        </div>
        
        
</body>

</html>
