<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>在线留言</title>
    <link rel="stylesheet" href="/ststic/undies/css/style.css">
    <link rel="stylesheet" href="/ststic/undies/css/cmj.css">
    
    <script type="text/javascript" src="/ststic/undies/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/flexible.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>
<body style="background:#F5F6F7">
    <div class="header about-header">
        <a href="/">
            <img src="/ststic/undies/images/back.png">
        </a>
        <span>在线留言</span>
    </div>
    <div class="write" style="margin-top: 45px;"> 
        <form class="form-horizontal">
            <textarea placeholder="写下你宝贵的意见和建议" name="content"></textarea>
            <input type="text" placeholder="手机号" name="mobile">
            <div>
                <button type="button" class="btn-comply">提交留言</button>
            </div>
        </form>
    </div>

    {include public/footer}
</body>
</html>