<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>首页</title>
    {include public/global_css}

	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/ststic/study/js/TouchSlide.1.1.js"></script>
    <script src="/ststic/study/js/swiper.min.js"></script>
    <script src="/ststic/study/js/swiper.animate1.0.2.min.js"></script></head>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>

<body>
	{include public/top_en}
    <div class="banner clearfix">
        <div class="swiper-container">
            <div class="swiper-wrapper banner_adjust">
                <div class="swiper-slide"><a href="javascript:;"><img src="/ststic/study/images/banner01.png"/></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="/ststic/study/images/banner01.png"/></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="/ststic/study/images/banner01.png"/></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="/ststic/study/images/banner01.png"/></a></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>  
	<div class="index_ab fadeInUp animated adjust">
    	<div class="title ">
        	<h3>ABOUT US</h3>
            <i class="line"></i>
        </div>
    	<div class="cont_p " ><p>Since the creation has always been to help more Chinese people happy, confident, easy to master fluent in English, and to achieve a successful dream for the mission, all-round solution to different students in English learning problems and difficulties encountered. Each year for the national civil servants, multinational institutions, industry staff, college students, etc., including tens of thousands of students to improve the level of English. We and you have a common goal, that is to let you have a better quality of life, and in the process of learning English to give the greatest help</p> </div>
    	<a class="more" href="#">MORE++</a>
    </div>    
    
	<div class="index_ab clearfix  ">
    	<div class="title fadeInUp animated">
        	<h3>Hengding Learning Community</h3>
            <i class="line"></i>
        </div>
    	<div class="news_four clearfix width1200 ">
        	<div class="li_div fadeInUp animated">
            	<div class="title_s"><span>Latest News</span><a href="#">...</a></div>
            	<div class="img_left">
                	<div class="img_1"><a href="#"><img src="/ststic/study/images/img01.jpg" /><span>雅思口语介绍</span></a></div>
                	<div class="img_1"><a href="#"><img src="/ststic/study/images/img01.jpg" /><span>雅思口语介绍</span></a></div>
                </div>
            	<ul class="news_n2">
                	<li>
                    	<a href="#">站在高起点，着眼“高端雅思高端雅思高端雅思”</a><span>08/20</span>
                    </li>
                	<li>
                    	<a href="#">站在高起点，着眼“高端雅思”</a><span>08/20</span>
                    </li>
                	<li>
                    	<a href="#">站在高起点，着眼“高端雅思”</a><span>08/20</span>
                    </li>
                	<li>
                    	<a href="#">站在高起点，着眼“高端雅思”</a><span>08/20</span>
                    </li>
                	<li>
                    	<a href="#">站在高起点，着眼“高端雅思”</a><span>08/20</span>
                    </li>
                
                </ul>
            </div>
        	
        	<div class="li_div fadeInUp animated">
            	<div class="title_s"><span>Life Exchange Area</span><a href="#">...</a></div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>920000</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，身高，杨洋</span><em class="biaoqian zd">置顶</em><em class="biaoqian jh">精华</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>4</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian zd">置顶</em><em class="biaoqian jh">精华</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>4</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian jh">精华</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
            </div>
            
        	<div class="li_div fadeInUp animated">
            	<div class="title_s"><span>Study Discussion Area</span><a href="#">...</a></div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>920000</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian zd">置顶</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>4</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian jh">精华</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>4</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian jh">精华</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
            </div>
        	<div class="li_div fadeInUp animated">
            	<div class="title_s"><span>Study Abroad And International Area</span><a href="#">...</a></div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>920000</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian zd">置顶</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>4</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian jh">精华</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>4</b><i>回复</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span>关晓彤谎报身高，而张艺兴报净身高泄露她真实身高，杨洋</span><em class="biaoqian jh">精华</em></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>张散散</b>发起了话题<i>·</i>2天前<i>·</i>最后回复<b>飞鱼</b><i>·</i></p>
                    </div>
                </div>
            </div>
        
        </div>
    
    </div>    
    
	<div class="index_ab ">
    	<div class="title fadeInUp animated">
        	<h3>Start your journey now</h3>
            <i class="line"></i>
           <!--  <span>START&nbsp;YOUR&nbsp;JOURNEY&nbsp;NOW</span> -->
        </div>
		<div class="notice fadeInUpBig animated width1200" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUpBig; margin:0 auto;  ">
            	<div class="tab-hd width1200">
            		<ul class="tab-nav fadeInUp animated">
            			<li ><a>国际商学院</a></li>
                        <li class="on"><a>高中部</a></li>
            		</ul>
            	</div>
            	<div class="tab-bd clearfix">
            		<div class="tab-pal ">
                    	<ul class="azkc clearfix">
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc1.jpg" /></a></div>
                                <div class="names">sss雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc2.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc3.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc4.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc2.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc6.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
            		</div>
            		<div class="tab-pal">
                    	<ul class="azkc ">
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc1.jpg" /></a></div>
                                <div class="names">雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc2.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc3.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc4.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc2.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                        	<li>
                            	<div class="imgs"><a href="#"><img src="/ststic/study/images/kc6.jpg" /></a></div>
                                <div class="names">雅思冲刺7.分课程</div>
                                <div class="liuyan"><span><i class="ico2"></i>255</span><span><i class="ico1"></i>158</span></div>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                          
                    
            		</div>
            		
                    
            	</div>
        	</div>        
        <a class="more" href="#">MORE++</a>
        
    </div>
    
    <div class="why_ch clearfix">
    <br/>
    <br/>
    	<div class="why_midd fadeInUp animated width1200">
        	<h3>Why choose us ?</h3>
        	<p>Compared to the free open class, the training course more time; and is the scientific system of the whole set of content, so that your knowledge to form a system, not easy to forget; step by step, and more conducive to your absorption; Competent in the work of all aspects.</p>
        </div>
    
    
    </div>
    
    
    <div class="team_boxs clearfix">
    	<div class="team_boxs_midd width1200">
            <div class="title fadeInUp animated">
                <h3>Hengding College teaching and research team</h3>
                <i class="line"></i>
                <!-- <span>HENGDING&nbsp;COLLEGE&nbsp;TEACHING&nbsp;AND&nbsp;RESEARCH&nbsp;TEAM</span> -->
             </div>
        	 <div class="notice width1200" style="margin:0 auto">
            	<div class="tab-hd">
            		<ul class="tab-nav fadeInUp animated">
            			<li ><a ><i><img src="/ststic/study/images/team3.jpg" /></i><span>推荐讲师-大卫</span></a></li>
                        <li class="on"><a  ><i><img src="/ststic/study/images/team3.jpg" /></i><span>推荐讲师-杨浩</span></a></li>
                        <li ><a ><i><img src="/ststic/study/images/team3.jpg" /></i><span>推荐讲师-的的张洋</span></a></li>
                        <li ><a ><i><img src="/ststic/study/images/team3.jpg" /></i><span>推荐讲师-王姗</span></a></li>
            		</ul>
            	</div>
            	<div class="tab-bd clearfix fadeInUp animated">
            		<div class="tab-pal clearfix">
                    <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
        			<p><a href="#" class="btn_zx">立即咨询</a><span><a href="#" class="bttn_zxs">更多老师</a></span></p>
                    </div>
            		<div class="tab-pal clearfix ">
                    <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
        			<p><a href="#" class="btn_zx">立即咨询</a><span><a href="#" class="bttn_zxs">更多老师</a></span></p>
                    </div>
            		<div class="tab-pal clearfix">
                    <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
        			<p><a href="#" class="btn_zx">立即咨询</a><span><a href="#" class="bttn_zxs">更多老师</a></span></p>
                    </div>
            		<div class="tab-pal clearfix">
                    <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
        			<p><a href="#" class="btn_zx">立即咨询</a><span><a href="#" class="bttn_zxs">更多老师</a></span></p>
                    </div>
                </div> 
            </div>
        </div>  
    </div>
    <div class="aside_menu">
        <div>
            <span>国际商学院</span>
            <!--弹出层-->
            <div class="pop_contact_way">
                <div>
                    <p>联系我们</p>
                    <div>
                        <ul class="call_number">
                            <li>
                                <img src="/ststic/study/images/QQ_icon.png">
                                <span>QQ：</span>
                                <span>1005336621</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/weixin_icon.png">
                                <span>微信：</span>
                                <span>21546452</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/duanxin_icon.png">
                                <span>邮箱：</span>
                                <span>1005336621@qq.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="QR_code">
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>微信公众号</p>
                        </div>
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span>高中部</span>
            <!--弹出层-->
            <div class="pop_contact_way">
                <div>
                    <p>联系我们</p>
                    <div>
                        <ul class="call_number">
                            <li>
                                <img src="/ststic/study/images/QQ_icon.png">
                                <span>QQ：</span>
                                <span>1005336621</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/weixin_icon.png">
                                <span>微信：</span>
                                <span>21546452</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/duanxin_icon.png">
                                <span>邮箱：</span>
                                <span>1005336621@qq.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="QR_code">
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>微信公众号</p>
                        </div>
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span>留学</span>
            <!--弹出层-->
            <div class="pop_contact_way">
                <div>
                    <p>联系我们</p>
                    <div>
                        <ul class="call_number">
                            <li>
                                <img src="/ststic/study/images/QQ_icon.png">
                                <span>QQ：</span>
                                <span>1005336621</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/weixin_icon.png">
                                <span>微信：</span>
                                <span>21546452</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/duanxin_icon.png">
                                <span>邮箱：</span>
                                <span>1005336621@qq.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="QR_code">
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>微信公众号</p>
                        </div>
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--手机 -->

    <div class="team_box2 clearfix">
    	<div class="team_box2_midd width1200">
			<div id="slideBox" class="slideBox">
				<div class="bd">
					<div class="tempWrap" style="overflow:hidden; position:relative;">
                    <ul style="width: 1920px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translate(-640px, 0px) translateZ(0px);">
						<li style="display: table-cell; vertical-align: top;">
							<a class="pic" href="#"><img src="/ststic/study/images/team4.jpg"></a><span>推荐讲师-大卫</span>
                            <div class="tab-pals clearfix">
                            <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
                            <p><a href="#" class="btn_zx">立即咨询</a><a href="#" class="bttn_zxs">更多老师</a></p>
                            </div>
						</li>
                        <li style="display: table-cell; vertical-align: top;">
							<a class="pic" href="#"><img src="/ststic/study/images/team1.jpg"></a><span>推荐讲师-大卫</span>
                            <div class="tab-pals clearfix">
                            <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
                            <p><a href="#" class="btn_zx">立即咨询</a><a href="#" class="bttn_zxs">更多老师</a></p>
                            </div>
						</li>
						<li style="display: table-cell; vertical-align: top;">
							<a class="pic" href="#"><img src="/ststic/study/images/team2.jpg"></a>
                            <span>推荐讲师-大卫</span>
                            <div class="tab-pals clearfix">
                            <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
                            <p><a href="#" class="btn_zx">立即咨询</a><a href="#" class="bttn_zxs">更多老师</a></p>
                            </div>
						</li>
						<li style="display: table-cell; vertical-align: top;">
							<a class="pic" href="#"><img src="/ststic/study/images/team3.jpg"></a><span>推荐讲师-大卫</span>
                            <div class="tab-pals clearfix">
                            <p>作为澳大利亚教育首席培训官、澳大利亚教育海外研发中心教研员、ETS官方培训师、British Council（英国教育文化协会）雅思考试年度工作坊特邀嘉宾、作为教育年度峰会主讲官，对于命题规律和考点了如指掌，授课过程中总能直击要害短期突破瓶颈。擅长：雅思听力、阅读、口语；托福听力；SAT阅读</p>
                            <p><a href="#" class="btn_zx">立即咨询</a><a href="#" class="bttn_zxs">更多老师</a></p>
                            </div>
						</li>
                       </ul>
                    </div>
				</div>

				<div class="hd">
					<ul></ul>
				</div>
			</div>        
        
        </div>
    </div>    

<script type="text/javascript">
				TouchSlide({ 
					slideCell:"#slideBox",
					titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
					mainCell:".bd ul", 
					effect:"leftLoop", 
					autoPage:false //自动分页
				});
			</script>

<div class="clearfix"></div>
	{include public/footer_en}                                                                                         
</body>
<script>
jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });
</script>
<script>
    var swiper = new Swiper('.banner .swiper-container', {
        pagination: '.banner .swiper-pagination',
        paginationClickable: true
    });
    </script>
<script>        
  var mySwiper = new Swiper ('.swiper-container', {
  onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
    swiperAnimateCache(swiper); //隐藏动画元素 
    swiperAnimate(swiper); //初始化完成开始动画
  }, 
  onSlideChangeEnd: function(swiper){ 
    swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
  } 
  })        
</script>
</html>
