<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>Home - Hengding College</title>
    {include public/global_css}

	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/ststic/study/js/TouchSlide.1.1.js"></script>
    <script src="/ststic/study/js/swiper.min.js"></script>
    <script src="/ststic/study/js/swiper.animate1.0.2.min.js"></script></head>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>

<body>
	{include public/top_en}
    <div class="banner clearfix">
        <div class="swiper-container">
            <div class="swiper-wrapper banner_adjust">
                {loop $data['banner'] $value}
                    <div class="swiper-slide"><a href="javascript:;"><img src="{$value['url']}"/></a></div>
                {/loop}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>  
	<div class="index_ab fadeInUp animated adjust">
    	<div class="title ">
        	<h3>ABOUT US</h3>
            <i class="line"></i>
        </div>
    	<div class="cont_p " ><p>Since the creation has always been to help more Chinese people happy, confident, easy to master fluent in English, and to achieve a successful dream for the mission, all-round solution to different students in English learning problems and difficulties encountered. Each year for the national civil servants, multinational institutions, industry staff, college students, etc., including tens of thousands of students to improve the level of English. We and you have a common goal, that is to let you have a better quality of life, and in the process of learning English to give the greatest help</p> </div>
    	<a class="more" href="#">MORE++</a>
    </div>    
    
	<div class="index_ab clearfix  ">
    	<div class="title fadeInUp animated">
        	<h3>Hengding Learning Community</h3>
            <i class="line"></i>
        </div>

        <div class="news_four clearfix width1200 ">
            <div class="li_div fadeInUp animated">
                <div class="title_s"><span>Latest News</span><a href="/index/about/news/s/cid/21">...</a></div>
                <div class="img_left">
                    {loop $data['news']['list'] $key $value}
                        {if $key <= 1}
                            <div class="img_1"><a href="{F:url('/index/about/detail',array('id'=>$value['id']))}"><img src="{F:imgUrl($value['thumb'],'article')}" /><span>{$value['btitle']}</span></a></div>
                       {/if}
                    {/loop}
                </div>
                <ul class="news_n2">
                {loop $data['news']['list'] $key $value}
                    <li>
                        <a href="{F:url('/index/about/detail',array('id'=>$value['id']))}">{$value['btitle']}</a><span>{F:date('m/d',$value['publish_time'])}</span>
                    </li>
                {/loop}  
                </ul>
            </div>
            
            <div class="li_div fadeInUp animated">
                <div class="title_s"><span>Live exchange area</span><a href="/index/bbs/s/cid/25">...</a></div>
                {loop $data['bbs_1']['list'] $value}
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>{$value['comment_num']}</b><i>Reply</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span><a href="{F:url('/index/bbs/detail',array('cid'=>$value['column_id'],'id'=>$value['id']))}">{$value['title']}</a></span>
                         {if $value['is_top']}<em class="biaoqian zd">Top</em>{/if}<!-- <em class="biaoqian jh">精华</em> --></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>{$value['user']['nickname']}</b> Initiated<i>·</i>{F:reset($value['publish_time_copy'])} {F:key($value['publish_time_copy'])} ago
                        {if $value['comment_num']}
                            <i>·</i>Last Reply <b>{$value['commentUser']['nickname']}</b><i>·</i>{F:reset($value['comment_time_copy'])} {F:key($value['comment_time_copy'])} ago
                        {/if}
                        </p>
                    </div>
                </div>
                {/loop}
            </div>
            
            <div class="li_div fadeInUp animated">
                <div class="title_s"><span>Study discussion area</span><a href="/index/bbs/s/cid/23">...</a></div>
                {loop $data['bbs_2']['list'] $value}
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>{$value['comment_num']}</b><i>Reply</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span><a href="{F:url('/index/bbs/detail',array('cid'=>$value['column_id'],'id'=>$value['id']))}">{$value['title']}</a></span>
                         {if $value['is_top']}<em class="biaoqian zd">Top</em>{/if}<!-- <em class="biaoqian jh">精华</em> --></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>{$value['user']['nickname']}</b> Initiated<i>·</i>{F:reset($value['publish_time_copy'])} {F:key($value['publish_time_copy'])} ago
                        {if $value['comment_num']}
                            <i>·</i>Last Reply <b>{$value['commentUser']['nickname']}</b><i>·</i>{F:reset($value['comment_time_copy'])} {F:key($value['comment_time_copy'])} ago
                        {/if}
                        </p>
                    </div>
                </div>
                {/loop}
            </div>
            <div class="li_div fadeInUp animated">
                <div class="title_s"><span>Study abroad and international zone</span><a href="/index/bbs/s/cid/24">...</a></div>
                {loop $data['bbs_3']['list'] $value}
                <div class="tie_li clearfix">
                    <div class="left_tie"><span><b>{$value['comment_num']}</b><i>Reply</i></span></div>
                    <div class="right_tie">
                        <p class="name"><span><a href="{F:url('/index/bbs/detail',array('cid'=>$value['column_id'],'id'=>$value['id']))}">{$value['title']}</a></span>
                         {if $value['is_top']}<em class="biaoqian zd">Top</em>{/if}<!-- <em class="biaoqian jh">精华</em> --></p>
                        <div class="img"><img src="/ststic/study/images/team2.jpg" / ></div>
                        <p class="tie_f"><b>{$value['user']['nickname']}</b> Initiated<i>·</i>{F:reset($value['publish_time_copy'])} {F:key($value['publish_time_copy'])} ago
                        {if $value['comment_num']}
                            <i>·</i>Last Reply <b>{$value['commentUser']['nickname']}</b><i>·</i>{F:reset($value['comment_time_copy'])} {F:key($value['comment_time_copy'])} ago
                        {/if}
                        </p>
                    </div>
                </div>
                {/loop}
            </div>
        
        </div>
    </div>    
    
	<div class="index_ab ">
    	<div class="title fadeInUp animated">
        	<h3>Start your journey now</h3>
            <i class="line"></i>
           <!--  <span>START&nbsp;YOUR&nbsp;JOURNEY&nbsp;NOW</span> -->
        </div>
		      <div class="notice fadeInUpBig animated width1200" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUpBig; margin:0 auto;  ">
                <div class="tab-hd width1200">
                    <ul class="tab-nav fadeInUp animated">
                        <li ><a >Business School</a></li>
                        <li class="on"><a >High School</a></li>
                    </ul>
                </div>
                <div class="tab-bd clearfix">
                    <div class="tab-pal ">
                        <ul class="azkc clearfix">
                            {loop $data['course_1']['list'] $value}
                            <li>
                                <div class="imgs"><a href="{F:url('/index/course/detail',array('id'=>$value['id']))}"><img src="{F:imgUrl($value['thumb'],'article')}" /></a></div>
                                <div class="names">{$value['btitle']}</div>
                                <div class="liuyan"><span><i class="ico2"></i>{$value['hot']}</span><span><i class="ico1"></i>{$value['comment_num']}</span></div>
                            </li>
                            {/loop}
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="tab-pal">
                        <ul class="azkc ">
                            {loop $data['course_2']['list'] $value}
                            <li>
                                <div class="imgs"><a href="{F:url('/index/course/detail',array('id'=>$value['id']))}"><img src="{F:imgUrl($value['thumb'],'article')}" /></a></div>
                                <div class="names">{$value['btitle']}</div>
                                <div class="liuyan"><span><i class="ico2"></i>{$value['hot']}</span><span><i class="ico1"></i>{$value['comment_num']}</span></div>
                            </li>
                            {/loop}
                            <div class="clearfix"> </div>
                        </ul>
                          
                    
                    </div>
                    
                    
                </div>
            </div>        
        <a class="more" href="/index/business_school/lession/s/cid/8">MORE++</a>
        
    </div>
    
    <div class="why_ch clearfix">
    <br/>
    <br/>
    	<div class="why_midd fadeInUp animated width1200">
        	<h3>Why choose us ?</h3>
        	<p>Compared to the free open class, the training course more time; and is the scientific system of the whole set of content, so that your knowledge to form a system, not easy to forget; step by step, and more conducive to your absorption; Competent in the work of all aspects.</p>
        </div>
    
    
    </div>
    
    
    <div class="team_boxs clearfix">
        <div class="team_boxs_midd width1200">
            <div class="title fadeInUp animated">
                <h3>HENGDING&nbsp;COLLEGE&nbsp;TEACHING&nbsp;AND&nbsp;RESEARCH&nbsp;TEAM</h3>
                <i class="line"></i>
                <!--<span>HENGDING&nbsp;COLLEGE&nbsp;TEACHING&nbsp;AND&nbsp;RESEARCH&nbsp;TEAM</span> -->
             </div>
             <div class="notice width1200" style="margin:0 auto">
                <div class="tab-hd">
                    <ul class="tab-nav fadeInUp animated">
                        {loop $data['teacher']['list'] $key $value}
                        <li {if !$key}class="on"{/if}><a ><i><img src="{F:imgUrl($value['thumb'],'article')}" /></i><span>{$value['btitle']}</span></a></li>
                        {/loop}
                    </ul>
                </div>
                <div class="tab-bd clearfix fadeInUp animated">
                    {loop $data['teacher']['list'] $key $value}
                    <div class="tab-pal clearfix">
                    <p>{$value['description_en']}</p>
                    <p><!-- <a href="#" class="btn_zx">立即咨询</a> --><span><a href="/index/business_school/team/s/cid/7" class="bttn_zxs">More teachers</a></span></p>
                    </div>
                    {/loop}
                    
                </div> 
            </div>
        </div>  
    </div>

    <!--手机 -->
    <div class="team_box2 clearfix">
        <div class="team_box2_midd width1200">
            <div id="slideBox" class="slideBox">
                <div class="bd">
                    <div class="tempWrap" style="overflow:hidden; position:relative;">
                    <ul style="width: 1920px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translate(-640px, 0px) translateZ(0px);">
                        {loop $data['teacher']['list'] $key $value}
                        <li style="display: table-cell; vertical-align: top;">
                            <a class="pic" href="#"><img src="{F:imgUrl($value['thumb'],'article')}"></a><span>{$value['btitle']}</span>
                            <div class="tab-pals clearfix">
                            <p>{$value['description_en']}</p>
                            <p><!-- <a href="#" class="btn_zx">立即咨询</a> --><a href="/index/business_school/team/s/cid/7" class="bttn_zxs">More teachers</a></p>
                            </div>
                        </li>
                        {/loop}
                       </ul>
                    </div>
                </div>

                <div class="hd">
                    <ul></ul>
                </div>
            </div>        
        
        </div>
    </div>    

<script type="text/javascript">
                TouchSlide({ 
                    slideCell:"#slideBox",
//                  titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                    mainCell:".bd ul", 
                    effect:"leftLoop", 
                    autoPage:false //自动分页
                });
            </script>

{include public/float_en}              
<div class="clearfix"></div>
    {include public/footer_en}                                                                                         
</body>
<script>
jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });
</script>
<script>
    var swiper = new Swiper('.banner .swiper-container', {
        pagination: '.banner .swiper-pagination',
        paginationClickable: true
    });
    </script>
<script>        
  var mySwiper = new Swiper ('.swiper-container', {
  onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
    swiperAnimateCache(swiper); //隐藏动画元素 
    swiperAnimate(swiper); //初始化完成开始动画
  }, 
  onSlideChangeEnd: function(swiper){ 
    swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
  } 
  })        
</script>
</html>
