
<!DOCTYPE html>
<html>
   <head>
    <title>教师中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="charset=utf-8" />
    <link rel="stylesheet" href="/ststic/study/css/base.css">
    <link rel="stylesheet" href="/ststic/study/css/center.css">
    <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 

    <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
	<script type="text/javascript" src="/ststic/study/js/menu.js"></script>
    <script type="text/javascript" src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>


   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	{include public/left_menus}

        <div class="center_right">
        	<div class="qiaoxi">
            	<div class="border">
            	<div class="title"><h4>您好，{$this->nickname}</h4></div>
            	<div class="pp">欢迎来到澳大利亚教学视频之家，在这里即将开启你的旅程祝您旅程愉快！<a href="{F:url('/user/message')}"><阅读更多></a></div>
                <a class="btn_next" href="#">下一个未读</a>
                </div>
                <!-- <div class="bottom_img"><img src="/ststic/study/images/bgcenter.png" /></div> -->
            </div>
        </div>
	</div>

</body>
</html>

