
<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-线上考试系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
        
        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<header>
            <div id="navbar"><span><i class="ico2"></i>学生门户-线上考试系统</span><a href="#" class="menubtn"></a>
            {include public/left_menus}
            </div>
            </header>
        <div class="classroom_right">
    		<h3 class=" t_students ">线上考试系统</h3>
        	<div class="t_cr_left fl">
            	<b class="class_b">同学您好！</b>
                <span class="class_s">本套试题包括选择题和问答题，倒计时考试，时间到会立即关闭考试系统，自动保存到老师后台！</span>
                <div class="time_ad">
                	<p>答题倒计时</p>
                   	<h1 class="alt-1">2h 0m 0s</h1>
                </div>
            </div>
        	<div class="t_cr_right fr">
                <div class="dati_ul clearfix">
                    <ul class="dati_List clearfix">
                        {loop $data['list'] $key $value}
                        <li id="each">
                            <p class="dati_name">{$key+1}. {$value['title']}</p>
                            <p class="dati_chk">
                                {loop json_decode($value['content'],true) $k $v}
                                    <a href="javascript:;"><b>{$other['letter'][$k]}.</b>{$v['answer']}</a>
                                {/loop}
                            </p>
                        </li>                     
                        {/loop}          
                    </ul>

                </div>
                
            </div>
        
        </div>
        
        
        </div>
        
        
</body>
<script src="/ststic/study/js/jquery.countdown.js"></script>
<script>
window.jQuery(function ($) {
	"use strict";

	$('time').countDown({
		with_separators: false
	});
	$('.alt-1').countDown({
		css_class: 'countdown-alt-1'
	});
	$('.alt-2').countDown({
		css_class: 'countdown-alt-2'
	});

});
</script>

<script type="text/javascript">
   $(document).ready(function(){
    $("#each a").click( 
  function() {
           $(this).addClass("background").siblings().removeClass("background"); 

       });
    });
    </script>

</html>
