<div class="footer">
    <ul>
        <li>
            <a href="/">
                <img src="/ststic/undies/images/house{if CONTROLLER == 'index'}-hover{/if}.png">
                <p {if CONTROLLER == 'index'}class="this-index"{/if}>首页</p>
            </a>
        </li>
        <li>
            <a href="/product/lists/s/cid/38">
                <img src="/ststic/undies/images/underwear{if CONTROLLER == 'product'}-hover{/if}.png">
                <p {if CONTROLLER == 'product'}class="this-index"{/if}>产品</p>
            </a>
        </li>
        <li>
            <a href="/shop/lists/s/cid/32">
                <img src="/ststic/undies/images/sell{if CONTROLLER == 'shop'}-hover{/if}.png">
                <p {if CONTROLLER == 'shop'}class="this-index"{/if}>销售</p>
            </a>
        </li>
        <li>
            <a href="/message/add">
                <img src="/ststic/undies/images/data{if CONTROLLER == 'message'}-hover{/if}.png">
                <p {if CONTROLLER == 'message'}class="this-index"{/if}>留言</p>
            </a>
        </li>
    </ul>
</div>