<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>APP下载</title>
    <link rel="stylesheet" href="/ststic/kdqc/css/style.css">
    <script type="text/javascript" src="/ststic/kdqc/js/flexible.js"></script>
    <script src="/ststic/kdqc/js/zepto.min.js"></script>
    <script src="/ststic/kdqc/js/zepto.fx.js"></script>
    <script src="/ststic/kdqc/js/zepto.touch.js"></script>
    <style type="text/css">
    .content{ padding: 10px; }
    .content p{ font-size: 14px; line-height: 25px; }
    </style>
</head>
<body style="background: #fff;">
<div>
    <img src="{F:imgUrl('wxtips.png','app')}" style="float: right; width: 100%;">
</div>    
</body>
</html>