
<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-我上传的作业</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
        
        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	{include public/left_menus}
        
        <div class="classroom_right ">
        		<h3 class="ks_zy t-class-title" >我上传的作业</h3>
        	<div class="t_cr_left t_kczy fl">
            	<p class="onli">课程安排</p>
            	<ul class="clearfix div_ul2">
                	  <li {if $type == 1}class="on"{/if}><a href="{F:url('lessons',array('type'=>1))}" class="kcap">课程安排</a></li>
                    <li {if $type == 2}class="on"{/if}><a href="{F:url('lessons',array('type'=>2))}" class="zyap">作业安排</a></li>
                    <li {if ACTION == 'my_up_classwork'}class="on"{/if}><a href="{F:url('my_up_classwork')}" class="xzzy">我上传的作业</a></li>
                 
                </ul>
            </div>

     	<div class="t_cr_right fr">
            	<ul class="kczy">
                  {loop $list $value}
                	<li>	
                  	<p class="names"><a href="#">{$value['goods']['title']}</a></p>
                      <p class="times">{F:date('Y/m/d H:i:s',$value['created'])}</p>
                       <p class="dels">删除</p>

                  </li>
                  {/loop}
                </ul>
            
            </div>
            
        
        </div>
   </div>


         
</body>
<script>
  $(".un_fina").click(function(){
	  $(".xiugais").slideToggle();
  })
  $(".closebox ").click(function(){
		  $(".xiugais").css("display","none");
	  })

</script>
<script type="text/javascript">
$(document).ready(function(){
    // date time picker
    if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
})
</script>
  <script>
    $(document).ready(function(){
  $(".onli").click(function(){
  $(".t_cr_left ul").slideToggle();
  });
   });

    </script> 


</html>
