<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>国际商学院High School</title>
	<link rel="stylesheet" href="/ststic/study/css/base.css">
	<link rel="stylesheet" href="/ststic/study/css/comm.css">
    <link rel="stylesheet" href="/ststic/study/css/mob.css">

	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>


<body>
	{include public/top}
    <div class="banner clearfix">
    	<div class="banner_box">
        	<img src="/ststic/study/images/banner01.png" />
        </div>
    </div>                                                                                                                    
    <div class="must_cont clearfix adjust">
    	<div class="must_box clearfix width1200">
            <div class="cont_left fl">
            	<div class="cont_box clearfix">
                	<h4>{$data['title']}</h4>
                	{$data['content']}
                </div>
            </div>
            <div class="cont_right  fr">
            	<h5>常见问题</h5>
                <ul>
                    {loop $qalist['list'] $value}
                	<li>
                    	<div class="que"><span>Q</span>{$value['title']}</div>
                    	<div class="an"><span>A</span>{F:strip_tags($value['content'])}</div>
                    </li>
                    {/loop}
                </ul>
            </div>
        </div>
<div class="clearfix"></div>
{include public/footer}                                                                                                        
</body>
</html>
