<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>国际商学院High School</title>
	<link rel="stylesheet" href="/ststic/study/css/base.css">
	<link rel="stylesheet" href="/ststic/study/css/comm.css">
    <link rel="stylesheet" href="/ststic/study/css/mob.css">

	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>


<body>
	{include public/top_en}
    <div class="banner clearfix">
    	<div class="banner_box">
        	<img src="images/banner01.png" />
        </div>
    </div>                                                                                                                    
    <div class="must_cont clearfix adjust">
    	<div class="must_box clearfix width1200">
            <div class="cont_left fl">
            	<div class="cont_box clearfix">
                	<h4>{$data['btitle']}</h4>
                	{$data['content_en']}
                </div>
            </div>
            <div class="cont_right  fr">
            	<h5>Common Problem</h5>
                <ul>
                	<li>
                    	<div class="que"><span>Q</span>雅思考试时间</div>
                    	<div class="an"><span>A</span>1月：07、12、14、21；2月：11、16...</div>
                    </li>
                	<li>
                    	<div class="que"><span>Q</span>雅思考试时间</div>
                    	<div class="an"><span>A</span>1月：07、12、14、21；2月：11、16...</div>
                    </li>
                
                	<li>
                    	<div class="que"><span>Q</span>雅思考试时间</div>
                    	<div class="an"><span>A</span>雅思考试评分工作由经过训练的评分人...</div>
                    </li>
                
                	<li>
                    	<div class="que"><span>Q</span>雅思考试时间</div>
                    	<div class="an"><span>A</span>雅思考试评分工作由经过训练的评分人...</div>
                    </li>
                	<li>
                    	<div class="que"><span>Q</span>雅思考试时间</div>
                    	<div class="an"><span>A</span>雅思考试评分工作由经过训练的评分人...</div>
                    </li>
                
                </ul>
            </div>
        </div>
<div class="clearfix"></div>
{include public/footer_en}                                                                                                        
</body>
</html>
