<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f


    RewriteCond %{HTTP_HOST} ^denha.loc [NC]
    RewriteCond %{REQUEST_URI} !^.*(\.css|\.js|\.eot|\.svg|\.ttf|\.woff|\.wpff2|\.gif|\.png|\.jpg|\.jpeg|\.bmp)$ [NC]
    RewriteRule ^ pc.host.php

    RewriteCond %{HTTP_HOST} ^console.denha.loc [NC]
    RewriteCond %{REQUEST_URI} !^.*(\.css|\.js|\.eot|\.svg|\.ttf|\.woff|\.wpff2|\.gif|\.png|\.jpg|\.jpeg|\.bmp|\.map)$ [NC]
    RewriteRule ^ console.host.php
</IfModule>
