<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>{$this->thisColumn['name']}</title>
    <link rel="stylesheet" href="{F:\denha\Start::$config['h5Url']}/ststic/undies/css/style_h5.css">
    <link rel="stylesheet" href="{F:\denha\Start::$config['h5Url']}/ststic/undies/css/cmj_h5.css">
    <script type="text/javascript" src="{F:\denha\Start::$config['h5Url']}/ststic/undies/js/flexible.js"></script>
</head>
<body>
    <div class="sr-content">
        {$data['content']}
    </div>
</body>
</html>