<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>{$this->parentColumn['name']}</title>
    <link rel="stylesheet" href="/ststic/study/css/base.css">
    <link rel="stylesheet" href="/ststic/study/css/comm.css">
    <link rel="stylesheet" href="/ststic/study/css/mob.css">

    <script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/jquery.SuperSlide.2.1.1.js"></script>

    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>

</head>


<body>
	{include public/top}
    <div class="banner clearfix">
    	<div class="banner_box">
        	<img src="/ststic/study/images/banner01.png" />
        </div>
    </div>                                                                                                                    
	
    <div class="shequ clearfix adjust">
    	<div class="shequ_box width1200">
        	<div class="shequ_left clearfix">
            	<ul class="nav_shequ clearfix">
                    {loop $columnList $value}
                	<li {if $value['id'] == $cid}class="on"{/if}><a href="{$value['jump_url']}">{$value['name']}</a></li>
                	{/loop}
                </ul>
                {if $cid == 26}
                 <ul class="jy_news">
                    {loop $list $value}
                    <li>
                        <div class="img"><a href="javascript:;"><img src="{$value['thumb']}" / ></a></div>
                        <p class="name"><a href="javascript:;">{$value['title']}</a></p>
                        <p class="fu_n">{$value['description']}..<a href="javascript:;">[更多]</a></p>
                        <p class="time"><span>发布时间:{F:date('Y/m/d',$value['publish_time'])}</span><i>浏览（{$value['hot']}）</i><i>回复（{$value['comment_num']}）</i></p>
                    </li>
                    {/loop}
                </ul>
                {else}
            	<div class="tie_list clearfix">
                	<div class="choose_tie clearfix">
                    	<a href="javascript:;" class="on a_ch">全部</a><a href="javascript:;" class="a_ch">精华</a><a href="javascript:;" class="a_ch">排序<span>最新发帖</span></a>
                        <a class="btn_tie" href="javascript:;">我要发帖</a>
                    </div>
                    {loop $list $value}
                	<div class="tie_li clearfix">
                    	<div class="left_tie"><span><b>{$value['comment_num']}</b><i>回复</i></span></div>
                        <div class="right_tie">
                            <p class="name"><a href="{F:url('detail',array('id'=>$value['id'],'cid'=>$cid))}"><span>{$value['title']}</span></a>
                                {if $value['is_top']}<em class="biaoqian zd">置顶</em>{/if}
                            </p>
                            <div class="img"><img src="{F:imgUrl($value['user']['avatar'],'avatar')}" / ></div>
                            <p class="tie_f"><b>{$value['user']['nickname']}</b>发起了话题<i>·</i>{F:reset($value['publish_time_copy'])}{$other['timeCopy'][key($value['publish_time_copy'])]}前
                            {if $value['comment_num']}
                                <i>·</i>最后回复<b>{$value['commentUser']['nickname']}</b><i>·</i>{F:reset($value['comment_time_copy'])}{$other['timeCopy'][key($value['comment_time_copy'])]}前
                            {/if}
                            </p>
                        </div>
                    </div>
                    {/loop}
                    <div class="clearfix"></div><br /><br /><br />
                    {if $pages}
                    <div class="page ">
                        <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                        <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                        <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
                    </div>
                    {/if}
                </div>
                {/if}
            </div>
        	<div class="shequ_right fr">
            	
                <div class="rec rec_ht">
                	<h3>热门话题</h3>
                    <ul>
                    	{loop $remmond['hotList']['list'] $value}
                        <li><a href="{F:url('/index/bbs/detail',array('cid'=>$value['column_id'],'id'=>$value['id']))}">{$value['title']}</a></li>
                        {/loop}
                    </ul>
                
                </div>
               
            	<div class="rec clearfix">
                	<h3>推荐课程</h3>
                	<ul class="kc_rec">
                        {loop $remmond['remmondList']['list'] $value}
                        <li>
                            <div class="imgs"><a href="{F:url('/index/course/detail',array('id'=>$value['id']))}"><img src="{$value['thumb']}" /></a></div>
                            <div class="name">{$value['title']}</div>
                            <div class="keshi">
                                {loop $value['characteristics_copy'] $v}
                                    <span><i></i>{$v}</span>
                                {/loop} 
                            </div>
                        </li>
                        {/loop}
                    </ul>
                
                </div>
            
				<!-- <div class="focusBox rec" >
                                             <h3>学员风采</h3>
                                             <ul class="pic" >
                                                 <li ><a href="javascript:;" target="_blank"><img src="images/team1.jpg"></a><span>张散散——雅思培训</span></li>
                                                 <li ><a href="javascript:;" target="_blank"><img src="images/team2.jpg"></a><span>张散散——雅思培训</span></li>
                                                 <li ><a href="javascript:;" target="_blank"><img src="images/team3.jpg"></a><span>张散散——雅思培训</span></li>
                                                 <li ><a href="javascript:;" target="_blank"><img src="images/team4.jpg"></a><span>张散散——雅思培训</span></li>
                                                 <li ><a href="javascript:;" target="_blank"><img src="images/team5.jpg"></a><span>张散散——雅思培训</span></li>
                                             </ul>
                                             <a class="prev" href="javascript:void(0)" style="opacity: 0.2; display: none;"></a>
                                             <a class="next" href="javascript:void(0)" style="opacity: 0.2; display: none;"></a>
                                             <ul class="hd">
                                                 <li class=""></li>
                                                 <li class=""></li>
                                                 <li class="on"></li>
                                                 <li></li>
                                                 <li></li>
                             </ul>
                                         </div>    -->         
            </div>
        
        
        </div>
    </div>
    
      	<div class="xiugais  clearfix">
            <form>
            	<div class="xiugai_box clearfix">
                	<div class="close"><a href="javascript:;" class="closebox"></a></div>
                    <b>发帖</b>
                    <p><span>板块选择</span>
                    <select class="mokuai" name="column_id">
                        {loop $columnList $value}
                            {if $value['id'] != 26}
                                <option value="{$value['id']}">{$value['name']}</option>
                            {/if}
                        {/loop}
                    </select>
                    </p>
                    <p><span>标题</span><input type="text" name="title"  placeholder="请输入"/></p>
                    <p class="add-input">
                        <a href="insert-img">插入图片</a>
                        <input type="file" id="insert-img">
                        <span>内容</span>
                        <textarea name="content" cols="" rows="" style="display: none;"></textarea>
                        <div class="textarea" id="textarea" contenteditable="true" style="text-align: left;overflow-y:scroll;"></div>
                    </p>
                    <a class="btn_xg clearfix btn-fatie" href="javascript:;">发布帖子</a>
                </div>
            </form>
        </div>  
    <div class="clearfix"></div>
    {include public/footer}
    
</body>
<script type="text/javascript">


$(".btn_tie").click(function(){
  var token = getCookie('token');
  if(!token){
    layer.msg('请登录');
    setTimeout(function(){
        window.location.href = '/index/user/login/s/return/'+encodeURIComponent(window.location.href);
    },1000)
    return;
  }else{
    $(".xiugais").slideToggle();
  }
})

$(".closebox ").click(function(){
	  $(".xiugais").css("display","none");
})

$(".btn-fatie").click(function(){
    var column_id = $('select[name="column_id"]').val();
    var title = $('input[name="title"]').val();
    var content = $('#textarea').html();

    $.post("{F:url('add')}",{column_id:column_id,title:title,content:content},function(result){
        layer.msg(result.msg);
        if(result.status){
            setTimeout(function(){
                location.reload();
            },1000)
            
        }
    });
})

//插入图片
$('.insert-img').click(function(){
    $('input[id=insert-img]').wrap('<form>').closest('form').get(0).reset();
    $('input[id=insert-img]').trigger('click');
})

$('#insert-img').change(function(e){
    var files = e.target.files || e.dataTransfer.files;
    var reader = new FileReader();
    reader.readAsDataURL(files[0]); 
    reader.onload = function(e){
        $.post('/common/upload/up_base64_img',{data:e.target.result,path:'test'},function(result){
            if(result.status){
                $('.textarea').append('<img src="'+result.data+'" width="80%" >');
            }else{
                layer.msg(result.msg);
            }

            //删除照片
            $('.btn-del-img').click(function(){
                //console.log($(this).parent().html());
                $(this).parent().remove();
                bindValue();    
            })

        },"json");
    }
});
</script>
<script>jQuery(".focusBox").hover(function(){ jQuery(this).find(".prev,.next").stop(true,true).fadeTo("show",0.2) },function(){ jQuery(this).find(".prev,.next").fadeOut() });
jQuery(".focusBox").slide({ mainCell:".pic",effect:"fold", autoPlay:true, delayTime:600, trigger:"click"});	</script>
</html>
