
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/flexible.js"></script>
</head>
<body class="special-body">
    <div class="header about-header">
        <a href="#">
            <img src="images/back.png">
        </a>
        <span>关于我们</span>
    </div>
    <div class="video-nav">
        <ul>
            <li>
                <a href="#">欧拉曲曼</a>
            </li>
            <li>
                <a href="#" class="intro-hover">每月活动</a>
            </li>
            <li>
                <a href="#">流行资讯</a>
            </li>
        </ul>
    </div>
    <div class="activity">
        <ul>
            <li>欧拉曲曼最新活动展示</li>
            <li>Events Gallery</li>
        </ul>
        <div class="swiper-container active-box">
            <div class="swiper-wrapper">
                <div class="swiper-slide active-img">
                    <img src="images/active-img.png">
                    <ul>
                        <li>欧拉曲曼重庆展会活动</li>
                        <li>2017-10-26</li>
                    </ul>
                </div>
                <div class="swiper-slide active-img">
                    <img src="images/active-img.png">
                    <ul>
                        <li>欧拉曲曼重庆展会活动</li>
                        <li>2017-10-26</li>
                    </ul>
                </div>
                <div class="swiper-slide active-img">
                    <img src="images/active-img.png">
                    <ul>
                        <li>欧拉曲曼重庆展会活动</li>
                        <li>2017-10-26</li>
                    </ul>
                </div>
                <div class="swiper-slide active-img">
                    <img src="images/active-img.png">
                    <ul>
                        <li>欧拉曲曼重庆展会活动</li>
                        <li>2017-10-26</li>
                    </ul>
                </div>
                <div class="swiper-slide active-img">
                    <img src="images/active-img.png">
                    <ul>
                        <li>欧拉曲曼重庆展会活动</li>
                        <li>2017-10-26</li>
                    </ul>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination active-circle"></div>
        </div>
    </div>
    <div class="other-activity">
        <ul>
            <li>
                <div>
                    <img src="images/active-other-img.png">
                </div>
                <ul>
                    <li>聚会返场会员礼遇</li>
                    <li><span>2017-10-26</span>~<span>2017-10-30</span></li>
                    <li>内衣对于女人来说，比合脚的鞋子更重要！一件合适的内衣不但能够展现自己的品味，更能塑造更加完美的体态！除了买自己喜欢的内衣款式</li>
                </ul>
            </li>
            <li>
                <div>
                    <img src="images/active-other-img.png">
                </div>
                <ul>
                    <li>聚会返场会员礼遇</li>
                    <li><span>2017-10-26</span>~<span>2017-10-30</span></li>
                    <li>内衣对于女人来说，比合脚的鞋子更重要！一件合适的内衣不但能够展现自己的品味，更能塑造更加完美的体态！除了买自己喜欢的内衣款式</li>
                </ul>
            </li>
            <li>
                <div>
                    <img src="images/active-other-img.png">
                </div>
                <ul>
                    <li>聚会返场会员礼遇</li>
                    <li><span>2017-10-26</span>~<span>2017-10-30</span></li>
                    <li>内衣对于女人来说，比合脚的鞋子更重要！一件合适的内衣不但能够展现自己的品味，更能塑造更加完美的体态！除了买自己喜欢的内衣款式</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer">
        <ul>
            <li>
                <a href="#">
                    <img src="images/house-normal.png">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/underwear.png">
                    <p>产品</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/sell.png">
                    <p>销售</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/data.png">
                    <p>留言</p>
                </a>
            </li>
        </ul>
    </div>
    <script src="js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 1.5,
            paginationClickable: true,
            spaceBetween: 20,
            freeMode: true
        });
    </script>
</body>
</html>