
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>{$this->thisColumn['name']}</title>
    <link rel="stylesheet" href="/ststic/undies/css/swiper.min.css">
    <link rel="stylesheet" href="/ststic/undies/css/style.css">
    <link rel="stylesheet" href="/ststic/undies/css/cmj.css">
    <script type="text/javascript" src="/ststic/undies/js/flexible.js"></script>
</head>
<body class="special-body">
    <div class="header about-header">
        <a href="/">
            <img src="/ststic/undies/images/back.png">
        </a>
        <span>{$this->thisColumn['name']}</span>
    </div>
    <div class="video-nav">
        <ul>
            {loop $menus $value}
                <li>
                    <a href="{$value['jump_url']}" {if $cid == $value['id']}class="intro-hover"{/if}>{$value['name']}</a>
                </li>
            {/loop}
        </ul>
    </div>
    <div class="activity">
        <ul>
            <li>欧拉曲曼最新活动展示</li>
            <li>Events Gallery</li>
        </ul>
        <div class="swiper-container active-box">
            <div class="swiper-wrapper">
                {loop $data['recommend_list'] $value}
                <div class="swiper-slide active-img">
                    <a href="{F:url('/about/detail',array('id'=>$value['id']))}"><img src="{$value['thumb']}"></a>
                    <ul>
                        <li><a href="{F:url('/about/detail',array('id'=>$value['id']))}">{$value['title']}</a></li>
                        <li>{F:date('Y-m-d',$value['created'])}</li>
                    </ul>
                </div>
                {/loop}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination active-circle"></div>
        </div>
    </div>
    <div class="other-activity">
        <ul>
            {loop $data['list'] $value}
            <li>
                <div>
                    <a href="{F:url('/about/detail',array('id'=>$value['id']))}"><img src="{$value['thumb']}"></a>
                </div>
                <ul>
                    <li><a href="{F:url('/about/detail',array('id'=>$value['id']))}">{$value['title']}</a></li>
<!--                     <li><span>{F:date('Y-m-d',$value['created'])}</span></li> -->
                    <li>{$value['description']}</li>
                </ul>
            </li>
            {/loop}
        </ul>
    </div>
    {include public/footer}
    <script src="/ststic/undies/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 1.5,
            paginationClickable: true,
            spaceBetween: 20,
            freeMode: true
        });
    </script>
</body>
</html>