html,body{height: 100%;width: 100%; overflow-y:hidden;}
.top{ width: 100%; background: #3b8cff; line-height: 25px; height: 6%; color: #fff;  min-height: 50px;  }
.top .logo{ font-size: 27px; line-height: 50px; padding-left: 25px; }
.top .member li{ float: left; }

.member li{ float: right; width: 100px;  height: 100%; text-align: center; line-height: 25px;line-height: 50px;  }
.member li:hover{ background: #e1e1e1;  color: #000; cursor: pointer;}

.main{ width: 100%; height: 100%; }
.menus{ padding-left: 20px; padding-top: 20px; width: 20%;  height:inherit;  }
.menus li{ float: left; position: relative; text-align: center; line-height: 25px;  cursor: pointer; padding-left: 25px; padding-right: 25px; padding-top: 10px; margin-top: 10px; border-radius: 5px; border: 1px solid #fff; margin-right: 5px; }
.menus li input{ width: 80px; text-align: center; height: 20px; }
.menus li:hover{ border: 1px solid #ccc;}
.menus li:hover .check{ display: block;}
.menus .cur{ border: 1px solid #ccc; }
.menus .cur .check{  display: block; }
.menus li .check{ display: none;   width: 20px; color: #fff; height: 20px; background: #3b8cff; border-radius: 10px; line-height: 20px; position: absolute; margin-left: -22px; }

.content-iframe{ width: 80%;  height: 100%; }

.content{ width: 100%; height: 100%;  padding-left: 10px; background: #f2f2f2; }


.location{ background: #fff; width: 100%; padding-top: 10px; }
.location .tips{ line-height: 25px; font-size: 14px; padding-top: 5px; padding-bottom: 5px;  padding-left: 15px;}
.location .tips a{ color: #4287ed; }
.location .tips a:hover{color: red;}
.note-detail-title{ border-bottom: 1px solid #ccc; height: 50px; }
.note-detail-title input{ margin-top: 10px; margin-left: 15px; height: 30px; line-height: 30px; width: 160px; padding-left: 5px; }
.note-content{ width: 100%; height: 450px; padding: 5px; line-height: 25px; border: none; resize:none; outline:none;  text-align: left;}
.note-content .function{ position: absolute; }