.menus li{ float: left; text-align: center; line-height: 25px; margin-right: 15px;  cursor: pointer;}
.menus li input{ width: 80px; text-align: center; height: 20px; }

.note-content{ padding: 5px; min-height: 500px; line-height: 25px; border: none; resize:none; outline:none; }