<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>欧拉曲曼</title>
    <link rel="stylesheet" href="/ststic/undies/css/swiper.min.css">
    <link rel="stylesheet" href="/ststic/undies/css/style.css">
</head>
<body>
    <div class="header">
        <span>欧拉曲曼</span>
    </div>
    <div class="swiper-container index-banner" style="margin-top: 50px;">
        <div class="swiper-wrapper">
            {loop $banner $value}
            <div class="swiper-slide">
                <a href="#">
                    <img src="{$value['path']}">
                </a>
            </div>
            {/loop}
        </div>
        <img src="/ststic/undies/images/index-banner-footer.png">
        <div class="swiper-pagination index-circle"></div>
    </div>
    <div class="index-nav">
        <ul>
            {loop $menus $key $value}
                {if $key <= 2}
                <li>
                    <a href="{$value['jump_url']}">
                        <div></div>
                        <p style="font-weight: 500">{$value['name']}</p>
                        <p>{$value['bname']}</p>
                    </a>
                </li>
                {/if}
            {/loop}
        </ul>
        <ul>
            {loop $menus $key $value}
                {if $key > 2}
                <li>
                    <a href="{$value['jump_url']}">
                        <div></div>
                        <p>{$value['name']}</p>
                        <p>{$value['bname']}</p>
                    </a>
                </li>
                {/if}
            {/loop}
        </ul>
    </div>
    
    {include public/footer}
    <script type="text/javascript" src="/ststic/undies/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/flexible.js"></script>
    <script type="text/javascript" src="/ststic/undies/js/swiper.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dKRFWRnzIFWQVoaekagfg8ZWulTsjRHQ"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });

        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                //alert('您的位置：'+r.point.lng+','+r.point.lat);
                $.post("{F:url('save_geolocation')}",{lng:r.point.lng,lat:r.point.lat},function(){

                });
            }
            else {
                alert('failed'+this.getStatus());
            }        
        });
    </script>
</body>
</html>