<!DOCTYPE html>
<html>
 <head>
    <title>教师中心-发布成绩</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ststic/study/css/base.css">
    <link rel="stylesheet" href="/ststic/study/css/center.css">
    <link rel="stylesheet" href="/ststic/study/css/u_mob.css">

    <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
    <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
    <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

    <script type="text/javascript" src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
  </head>
<body bgcolor="f1f1f1" >
        <div class="center">
        <div id="navbar"><span><i class="ico2"></i>教师中心-发布成绩</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
        
        <div class="classroom_right teacher_right_t">
          <h3 class="fbcj_n cl" >发布成绩</h3>
          <div class="t_cr_left t_fbcjs ">
              <p class="onli">课程分类</p>
              <ul class=" clearfix">
                  {loop $courseList $key $value}
                  <li class="pop-name-list {if (!$goodsid && !$key) || $goodsid == $value['id'] }on{/if}" >
                        <a href="{F:url('index',array('goodsid'=>$value['id']))}" >{$value['title']}</a>
                        {if (!$goodsid && !$key) || $goodsid == $value['id'] }
                        <input type="text"  placeholder="选择学生" />
                        <a href="javascript:;" class="btn_se" style="color:#fff">立即发布</a>
                        <div>
                            <ul>
                                {loop $value['userList'] $v}
                                <li data-id="{$v['uid']}" data-goodsid="{$value['id']}">{$v['real_name']}</li>
                                {/loop}
                            </ul>
                        </div>
                        {/if}
                    </li>
                    {/loop}
                </ul>
            </div><br />
      <div class="t_cr_right fr">
        <br />
            <table class="cj_table" >
            <thead>
              <th>学生</th>
              <th>成绩项目</th>
              <th>审批时间</th>
              <th>分数</th></thead>
              {loop $list $value}
              <tr>  
                <td><span>{$value['user']['real_name']}</span></td>
                <td><span>{$value['title']}</span></td>
                <td>{F:date('Y/m/d',$value['created'])}</td>
                <td><b>{$value['score']}</b><span>/{$value['total']}</span></td>
              </tr>
              {/loop}
            </table>

        </div>
            
    
        </div>
   </div>
        <div class="xiugais  clearfix">
          <form class="form-horizontal" action="{F:url('add')}">
              <input type="hidden"  value="" name="uid" />
              <input type="hidden"  value="" name="goods_id" />
              <div class="xiugai_box">
                <div class="close"><a href="javascript:;" class="closebox"></a></div>
                <b>发布成绩</b>
                <p><span>成绩项目</span><input type="text"  name="title" placeholder="请输入"/></p><br />
                <p class="iDate date"><span>审批时间</span><input type="text" name="time"><button type="button" class="addOn"></button></p><br />
                <p><span>获得分数</span> <input type="text"  name="score" placeholder="请输入"/></p><br />
                <p><span>总分数</span> <input type="text" name="total" value="100"  placeholder="请输入"/></p><br />
                <a class="btn_xg btn-comply" href="javascript:;">立即发布</a>
              </div>
          </form>
        </div>  

</body>
<script type="text/javascript">
(function(){
    $(".pop-name-list>input").focus(function(){
        var height=$(".pop-name-list>div>ul").css("height");
        $(".pop-name-list>div").css({
            padding:5,
            height:height
        })
    })
    $(".pop-name-list>div>ul>li").click(function(){
        var html=$(this).html();
        var id = $(this).attr('data-id');
        var goodsid = $(this).attr('data-goodsid');
        $('input[name=goods_id]').val(goodsid);
        $('input[name=uid]').val(id);
        $(".pop-name-list>input").val(html);
        $(".pop-name-list>div").css({
            padding:0,
            height:0
        })
    })
})()

$(document).ready(function(){
    // date time picker
    if($(".iDate.full").length>0){
        $(".iDate.full").datetimepicker({
            locale: "zh-cn",
            format: "YYYY-MM-DD a hh:mm",
            dayViewHeaderFormat: "YYYY年 MMMM"
        });
    }
    if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
})
</script>
<script>
  $(".btn_se").click(function(){
    var uid = $('input[name=uid]').val();
    if(!uid){
      return layer.msg('请选择学生');
    }

    $(".xiugais").slideToggle();
  })
  $(".closebox ").click(function(){
      $(".xiugais").css("display","none");
    })
</script>
<script>
    $(document).ready(function(){
  $(".onli").click(function(){
  $(".t_cr_left ul").slideToggle();
  });
   });

    </script>
</html>
