
<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-我的课程</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 

        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>
   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>教师中心-评论管理</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
        
        <div class="classroom_right">
        		<h3 class="my_news my-object">我的课程</h3>
        	<div class="t_cr_left fl">
            	<b>同学您好！</b>
                <span>您报名的课程都在右边列表中，记得准时上课哟~</span>
            </div>
			<div class="t_cr_right pp_t fr navgation ">
             <div class="width80 clearfix">
                {loop $list $value}
                <div class="com_pp clearfix">
                	<div class="left_img"><a href="{F:url('/index/course/detail',array('id'=>$value['goods']['goods_id']))}" class="names" target="_blank"><img src="{F:imgUrl($value['goods']['thumb'],'article')}" /></a></div>
                	<div class="comm_title">
                    	<p class="title_pp"><a href="{F:url('/index/course/detail',array('id'=>$value['goods']['goods_id']))}" class="names" target="_blank">{$value['goods']['title']}</a></p>
                        <p class="comm_cont"><b>“</b>{$value['goods']['recruit']}”<b>”</b></p>
                        
                         
                    </div>
                    
                </div>
                {/loop}
                
                {if $pages}
                <div class="page ">
                    <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                    <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                    <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
                </div>
                {/if}
			</div>
        
        </div>     	
            
        
        </div>
   </div>


         
</body>
<script>
  $(".un_fina").click(function(){
	  $(".xiugais").slideToggle();
  })
  $(".closebox ").click(function(){
		  $(".xiugais").css("display","none");
	  })

</script>

  <script>
    $(document).ready(function(){
  $(".onli").click(function(){
  $(".t_cr_left ul").slideToggle();
  });
   });

    </script> 


</html>

