@charset "UTF-8";
/***********************************************************************/
/* 默认字体 */
/* 其他字体-宋体 */
/**/
/*主要宽度*/
/* 主色调 */
/* 次色调 */
/* 文本框色调 */
/***********************************************************************/
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
}

ul, li, dl, dt, dd, ol {
  list-style: none;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

a:link, a:visited {
  color: #cdcdcd;
}

a:hover, a:active {
  color: #2dc3e8;
}

a img {
  border: 0;
  outline: 0;
}

i, em {
  font-style: normal;
}

input, button, textarea, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

input, textarea {
  color: #666;
}

button {
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Microsoft YaHei, sans-serif;
  font-size: 14px;
  background: #fff;
  height: 100%;
  overflow: hidden;
}

.clear {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0;
}

.list-style {
  margin: auto;
  padding: inherit;
}

.main {
  width: 100%;
  margin: 0 auto;
}

/***********************************************************************/
/*header*/
.header {
  height: 50px;
  background: #2dc3e8;
  display: inline-block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  padding: 10px 15px;
  float: left;
}
.header .logo {
  float: left;
}
.header .logo img {
  height: 31px;
}
.header .info {
  float: right;
  line-height: 31px;
  color: #fff;
}

/*section*/
.section {
  display: inline-block;
  width: 100%;
  clear: both;
}
.section .left {
  float: left;
  width: 220px;
  height: 100%;
  background: #273240;
  padding-top: 10px;
  box-sizing: border-box;
}
.section .left .nav ul li {
  font-size: 15px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #323c4a;
  box-sizing: border-box;
  padding-left: 40px;
  border-left: 3px solid #273240;
}
.section .left .nav ul li i {
  float: left;
  width: 45px;
  line-height: 46px;
  box-sizing: border-box;
}
.section .left .nav ul li span {
  float: left;
}
.section .left .nav ul li:hover, .section .left .nav ul li.active {
  border-left: 3px solid #2dc3e8;
}
.section .left .nav ul li:hover a, .section .left .nav ul li.active a {
  color: #fff;
}
.section .left .query {
  background: #1c242f;
  display: inline-block;
  width: 100%;
  clear: both;
  border-radius: 2px;
  width: 205px;
  margin-top: 30px;
  margin-left: 7px;
}
.section .left .query dl {
  border-bottom: 1px solid #273240;
  line-height: 35px;
  display: inline-block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  color: #747f8d;
  float: left;
}
.section .left .query dl dd {
  float: left;
  box-sizing: border-box;
  border-left: 1px solid #273240;
  /* padding: 0 8px; */
  width: 50%;
  clear: none;
}
.section .left .query dl dd:first-child {
  border-left: 0;
}
.section .left .query dl dd.row {
  width: 100%;
}
.section .left .query dl input {
  border: 0;
  background: none;
  height: 35px;
  padding: 0 8px;
  color: #747f8d;
  box-sizing: border-box;
  width: 100%;
}
.section .left .query dl input::-webkit-input-placeholder {
  color: #747f8d;
}
.section .left .query dl input::-moz-placeholder {
  color: #747f8d;
}
.section .left .query dl input:-ms-input-placeholder {
  color: #747f8d;
}
.section .left .query dl input::placeholder {
  color: #747f8d;
}
.section .left .query dl select {
  height: 35px;
  background: none;
  color: #747f8d;
  border: 0;
  float: left;
  width: 100%;
}
.section .left .query dl .figure {
  padding: 0 8px;
}
.section .left .query dl .number {
  width: 130px;
}
.section .left .query dl .time {
  float: left;
  background: url(../images/date-icon.png) no-repeat right 5px center;
}
.section .left .query dl .queryBtn {
  width: 189px;
  height: 38px;
  background: #267e98;
  border: 0;
  border-radius: 2px;
  color: #fff;
  margin: 8px;
}
.section .left .query dl .queryBtn i {
  margin-right: 5px;
}
.section .left .query dl .queryBtn:hover {
  background: #2dc3e8;
}
.section .right {
  float: left;
  height: 100%;
  background: #eee;
}
.title {
  height: 50px;
  background: #f3f3f3;
  border-bottom: 1px solid #bbb;
  box-shadow: 1px 2px 3px #ddd;
  padding: 0 20px;
  box-sizing: border-box;
}
.title ul li {
  float: left;
  margin-right: 25px;
  line-height: 50px;
}
.title ul li i {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
}
.title ul li i.fa-list-ul {
  background: #5cb85c;
}
.title ul li i.fa-clock-o {
  background: #ec410c;
}
.title ul li span {
  color: #333;
}
.title ul li a {
  color: #ff8400;
}
.title ul li a:hover {
  color: #2dc3e8;
}
.title .import-btn {
  float: right;
  height: 30px;
  background: #5cb85c;
  border: 0;
  border-radius: 2px;
  color: #fff;
  padding: 0 12px;
  margin-top: 10px;
}
.title .import-btn:hover {
  background: #00af77;
}
.content {
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}
.content .column {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  clear: both;
  margin: 10px 0;
}
.content .column .column-tit {
  padding: 16px;
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
}
.content .column .column-tit h3 {
  float: left;
  color: #313131;
  font-size: 16px;
  font-weight: normal;
  border-left: 3px solid #00af77;
  padding-left: 8px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
}
.content .column .column-tit span {
  float: right;
  padding-left: 20px;
  color: #999;
  border-left: 1px solid #e8e8e8;
}
.content .column .column-info {
  display: inline-block;
  width: 100%;
  clear: both;
  float: left;
}
.content .entry-left {
  width: 70%;
}
.content .entry-right {
  float: right;
  width: 28%;
}

/*sidebar*/
.sidebar {
  float: right;
  /* width: 310px; */
  height: 100%;
  overflow: hidden;
  background: #eee;
}
.sidebar .bar-icon {
  background: url(../images/sidebar.png) no-repeat;
  width: 23px;
  height: 48px;
  position: fixed;
  right: 0;
  top: 15%;
  z-index: 99;
  cursor: pointer;
}
.sidebar .bar-box {
  float: left;
  width: 310px;
  height: 100%;
  margin-left: 310px;
  border-left: 1px solid #d5d5d5;
  padding: 15px;
  box-sizing: border-box;
}
.sidebar .bar-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/*page*/
.page {
  display: inline-block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 20px;
  text-align: right;
  color: #555;
}
.page a {
  color: #333;
  display: inline-block;
  padding: 3px 12px;
  border: 1px solid #ddd;
  margin: 0 2px;
}
.page a:hover {
  color: #00af77;
}
.page ul {
  float: right;
  overflow: hidden;
}
.page ul li {
  float: left;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-left: 5px;
  box-sizing: border-box;
}
.page ul li a {
  float: left;
  border: 1px solid #e4e4e4;
  padding: 0 14px;
  height: 35px;
  position: relative;
  margin-left: -1px;
  color: #bcbcbc;
  box-sizing: border-box;
}
.page ul li a.active, .page ul li a:hover {
  color: #bb4b4c;
  background: #f5f5f5;
}
.page ul li i {
  margin: 0 3px;
}
.page ul li span {
  float: left;
  margin: 0 5px;
  color: #bcbcbc;
}
.page ul li input[type='text'] {
  width: 38px;
  height: 35px;
  border: 1px solid #e4e4e4;
  text-align: center;
  color: #737373;
  float: left;
  box-sizing: border-box;
}
.page ul li button {
  float: left;
  height: 35px;
  border: 1px solid #e4e4e4;
  background: #f5f5f5;
  color: #737373;
  border-radius: 2px;
  padding: 0 15px;
}

/*滚动条*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:vertical {
  display: none;
}

::-webkit-scrollbar-track:vertical {
  background-color: black;
}

::-webkit-scrollbar-track-piece {
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:vertical {
  margin-right: 10px;
  background-color: #999;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #666;
}

::-webkit-scrollbar-corner:vertical {
  background-color: #535353;
}

::-webkit-scrollbar-resizer:vertical {
  background-color: #FF6E00;
}
