
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>html 便签</title>

<style type="text/css">
*{margin:0px;padding:0px;list-style-type:none;}
a,img{border:0;}
body{margin:0px auto;width:800px;font-family:arial,sans-serif;font-size:100%;margin:3em;background:#666;color:#fff;}
.menus li{ text-align: center; float: left; cursor: pointer; }
.note{ width: 1200px; margin:0 auto;  background: red;}
</style>

<!--必要样式-->
<!-- <link href="/ststic/note/css/note.css" rel="stylesheet" type="text/css"> -->

<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/vendor/pace/themes/blue/pace-theme-minimal.css" />
<link rel="stylesheet" href="/ststic/note/css/common.css" />
<link rel="stylesheet" href="/ststic/note/css/note_main.css" />
<link rel="stylesheet" href="/ststic/note/css/note.css" />
<link rel="stylesheet" href="/vendor/right_click/jquery.contextmenu.css">

</head>
<form class="form-horizontal">
	<textarea class="note-content" name="content">
	</textarea>

	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-comply">保存</button>
		<button type="button" class="btn btn-default" id="btn-close" >取消</button>
	</div>
</form>
<body>
	
</body>
	<script type="text/javascript" src="/ststic/note/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="/ststic/note/js/common.js"></script>
	<script type="text/javascript" src="/vendor/layer/layer.js"></script>
	<script type="text/javascript">
		var  width = document .body.scrollLeft ? document.documentElement.scrollWidth - document .body.scrollLeft : document .body.scrollWidth;
		$('textarea').css('width',width);
		$('body').css('width',width);
		$('textarea').css('height',document.documentElement.scrollHeight);
		$('textarea').focus();
		
	</script>
</html>