*{ padding:0; margin:0}
html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    position: relative;
		/* Fix for webkit minFont size */
margin:0 auto;text-align:center;height: 100%;
    margin: 0px;
    padding: 0px;}

i {
    font-style: normal
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


a, a:active, a:hover {
    text-decoration: none;
}

input:focus, li:focus, span:focus, i:focus, img:focus, button:focus,:focus {
    outline: 0
}

li { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
em,i,b {font-style:normal;}
/* Remove annoying border on linked images. */
a img { border: none; text-decoration:none; }
.fl{ float:left}
.fr{ float:right}


/*dibu*/
.bottom{ width:100%; background:#4d4b4c;}
.bottom .bottom-midd{ /*width:1200px;*/ margin:0 auto}
.bottom .bottom-midd ul{ display:block; float:left; /*width:550px; */margin-top:20px;}
.bottom .bottom-midd ul li{ display:block; float:left; height:150px; width:130px; border-right:#585858 1px solid; margin-right:40px  }
.bottom .bottom-midd ul li span{ display:block; height:50px; line-height:40px;  font-size:16px; color:#aaaaaa; text-align:left}
.bottom .bottom-midd ul li  a{ display:block; width:100px; line-height:25px; text-align:left; color:#b8b8b8; margin:0 auto; float:left}
.bottom .bottom-midd .bottom-right{ float:right; width:550px; text-align:left; }
.bottom .bottom-midd .bottom-right .tel_dz span{ color:#dfdfdf; font-size:16px; display:block; margin-top:30px}
.bottom .bottom-midd .bottom-right b{ display:block;  font-size:14px;color:#b8b8b8; font-weight:400; margin-top:10px; margin-left:10px}
.bottom .bottom-midd .bottom-right strong{ display:block; font-weight:100; margin-top:10px}
.bottom .bottom-midd .bottom-right a{ display:inline-block; line-height:30px; color:#666; margin-top:10px }
.bottom .bottom-midd .bottom-right a i{ display:block; width:30px; height:30px; float:left}
.bottom-right .tel_dz{ float:left}
.bottom-right  .img_wx{ float:right; margin-top:30px}
.bottom-right  .img_wx span{color:#b8b8b8; display:block; font-size:14px; text-align:center}
.Copyright{ height:40px; background:#343434;line-height:40px;color:#b8b8b8; text-align:left  }
.Copyright .Copyright_box{ width:1200px; margin:0 auto}

.Copyright .share{ float:right;/* width:150px; */}
.Copyright .share a{ display:block; width:50px; line-height:40px; height:40px; float:left }
.Copyright .share .wb{ background:url(../images/wb2.png) no-repeat center}
.Copyright .share .sq{ background:url(../images/sq2.png) no-repeat center}
.Copyright .share .qq{ background:url(../images/qq2.png) no-repeat center}

.Copyright .share .wb:hover{ background:url(../images/wb.png) no-repeat center}
.Copyright .share .sq:hover{ background:url(../images/sq.png) no-repeat center}
.Copyright .share .qq:hover{ background:url(../images/qq.png) no-repeat center}



.page{ float:right; width:190px; margin-top:10px}
.page p{ float:left; line-height:25px }
 .page a{ color:#000; display:block; float:right; border:#ccc 1px solid; padding: 0 5px; margin-left:10px}
@media screen and (min-width:1200px){
    .bottom .bottom-midd ul li span{
        font-size:14px;
        white-space: nowrap;
    }
    .page{
        width:auto;
    }
    .page p{
        margin-right:30px;
    }
}

