<script type="text/javascript" src="{F:getConfig('config','ststic')}/blog/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="{F:getConfig('config','ststic')}/blog/js/common.js"></script>
<script type="text/javascript" src="{F:getConfig('config','vendor')}/pace/pace.min.js"></script>
<script type="text/javascript" src="{F:getConfig('config','vendor')}/layer/layer.js"></script>
<script type="text/javascript" src="{F:getConfig('config','vendor')}/right_click/jquery.contextmenu.js"></script>