<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-预约一对一辅导</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
    	<link rel="stylesheet" href="/ststic/study/css/base.css">
    	<link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 

        <script src="/ststic/study/js/jquery.min.js"></script>
    	<script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>
   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>学生门户-预约一对一辅导</span><a href="#" class="menubtn"></a>
                {include public/left_menus}
            </div>
        <div class="classroom_right">
        		<h3 class=" t_students t_coach">预约一对一辅导</h3>
        	<div class="t_cr_left fl">
            	<b class="class_b">同学您好！</b>
                <span class="class_s">提交预约后请耐心等待,预约结果显示在预约列表中</span>
                       <a class="begain_ans clearfix"  href="{F:url('initiated')}">立即预约</a>
            </div>
        	<div class="t_cr_right fr yy_pp navgation">
                <ul class="fudao_ul clearfix">
                    {loop $list $value}
                	<li class="clearfix">
                    	<div class="li_left">
                    	<p class="title_names">
                            <a href="javascript:;" class="name">[{$value['teacher']['real_name']}] {$value['goods']['title']} </a>
                        </p>
                    	<p class="n_t_t"><!-- <b>【王冰冰】</b> -->
                            <span>{F:date('Y-m-d',$value['start_time'])}<i></i>{F:date('H:i',$value['start_time'])}-{F:date('H:i',$value['end_time'])}</span>
                            {if $value['mobile']}
                            <span>电话：{$value['mobile']}</span>
                            {/if}
                        </p>
                        {if $value['user_msg']}
                        <p class="yuyue_c">{$value['user_msg']}</p>
                        {/if}
                        </div>
                        {if $value['status'] == 0}
                            <div class="right_li"><a class="xg_time" href="javascript:;">预约中</a></div>
                        {elseif $value['status'] == 1}
                            <div class="right_li"><a class="yy_su" href="javascript:;">已预约成功</a></div>
                        {elseif $value['status'] == 3}
                            <div class="right_li"><a class="yy_su" href="javascript:;">老师拒绝</a></div>
                        {elseif $value['status'] == 4}
                            <div class="right_li"><a class="yy_su" href="javascript:;">学生拒绝</a></div>
                        {/if}

                        {if $value['status'] == 2 && $value['user_agree'] != 1}
                            <div class="right_li"><a class="yy_su btn-ajax-post" href="javascript:;" config-href="{F:url('agree')}" data-id="{$value['id']}" config-tips="老师修改了预约时间<br/>同意修改后,表示预约生效<br/>请谨慎操作！！">同意修改时间</a></div>
                        {/if}
                        
                        {if $value['teacher_msg']}
                        <div class="hf_te">
                            <p><span>{$value['teacher']['real_name']} </span><b>回复:</b> {$value['teacher_msg']}</p>
                        </div>
                        {/if}
                    </li>
                    {/loop}
                    {if $pages}
                    <div class="page ">
                        <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                        <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                        <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
                    </div>
                    {/if}
                </ul>
                
                
            </div>
        </div>
        </div>
        
        
</body>

</html>