
<!DOCTYPE html>
<html>
   <head>
    <title>学生门户-评论管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="charset=utf-8" />
	<link rel="stylesheet" href="/ststic/study/css/base.css">
	<link rel="stylesheet" href="/ststic/study/css/center.css">
    <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
	<script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
	<script type="text/javascript" src="/ststic/study/js/moment.js"></script>
    <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
    <script type="text/javascript" src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>学生门户-评论管理</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
            <div class="teacher_right teacher_right_t">
        	<h3 class="my_news">我的消息</h3>
            <div class="t_news">
            	<div class="t_news_left  fl">
                	<ul class=" clearfix">
                    	<li {if $sign == 1}class="on"{/if}><a href="{F:url('index',array('sign'=>1))}">未读消息（{$total['not_reader_total']}）</a></li>
                        <li {if $sign == 2 || !$sign}class="on"{/if}><a href="{F:url('index',array('sign'=>2))}">所有消息（{$total['total']}）</a></li>
                        <li {if $sign == 3}class="on"{/if}><a href="{F:url('index',array('sign'=>3))}">重要消息（{$total['important_total']}）</a></li>
                        <li {if $sign == 4}class="on"{/if}><a href="{F:url('index',array('sign'=>4))}">发送（{$total['send_total']}）</a></li>
                    </ul>
                    <a class="btn_write clearfix"  href="{F:url('send')}">写消息</a>
                </div>
                <div class="t_news_right fr demo1">
                	<ul class="newsul">
                        {loop $list $value}
                    	<li>
                            <a class="title {if $value['to_uid_important'] == 1 && $this->uid == $value['to_uid']}zhongyao{/if}" href="{F:url('detail',array('id'=>$value['id']))}">{$value['title']}</a>
                            <span class="btn_read"><a href="{F:url('detail',array('id'=>$value['id']))}">阅读更多</a></span>
                            <span class="del btn-ajax-post" data-id="{$value['id']}" config-tips="确定删除该邮件" config-href="{F:url('del')}" config-reload="1">删除</span>
                            <span class="time">{F:date('Y/m/d',$value['created'])}</span>
                        </li>
                        {/loop}

                        {if $pages}
                	    <div class="page ">
                            <p><b>{$pages['pageNo']}</b>/{$pages['allPage']}</p>
                            <a href="{$pages['pageUrl']}?pageNo={F:max($pages['pageNo'] - 1,1)}">上一页</a>
                            <a href="{$pages['pageUrl']}?pageNo={F:min($pages['pageNo'] + 1,$pages['allPage'])}">下一页</a>
                        </div>
                        {/if}
                    </ul>
                
                </div>
                
            </div>
        </div>
        </div>
        
        
    
</body>
<script type="text/javascript">
$(function(){
	(function(){
		var num;
		$(".demo1").on('click', '.del', function(event) {
			event.preventDefault();
			num = $(this).index();
			$(".pop").fadeIn('fast');
		});
	})();
	
});
</script>
      <script>
    $(document).ready(function(){
  $(".onli").click(function(){
  $(".t_cr_left ul").slideToggle();
  });
   });

    </script> 
</html>
