<!DOCTYPE html>
<html>
   <head>
        <title>教师中心-日历</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        
        <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>

        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f9f9f9" >
	
        <div class="center own-center">
        	<div id="navbar"><span><i class="ico2"></i>教师中心-日历</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
        
        <div class="calendar_right own_calendar_right">
            <div class="calendar">日历</div>
            <!-- <ul class="score">
                <li>
                    <img src="/ststic/study/images/calendar-score.png" style="position:relative;left:50%;">
                </li>
                <li>
                    <div style="width:50%;"></div>
                </li>
                <li>
                    <ul>
                        <li>0</li>
                        <li>获得<span>50</span>学分</li>
                        <li>100</li>
                    </ul>
                </li>
            </ul> -->
            <div class="calendar-list">
                <div>
                    <button type="button" onclick="javascript:window.location.href='{F:url('',array('year'=>$week['up']['year'],'month'=>$week['up']['month']))}'" style="text-align: center;">上一月</button>
                    <span>{$week['time']['year']}年{$week['time']['month']}月</span>
                    <button type="button" onclick="javascript:window.location.href='{F:url('',array('year'=>$week['down']['year'],'month'=>$week['down']['month']))}'"  style="text-align: center;">下一月 </button>
                </div>
                <table>
                    <thead>
                        <tr>
                        <td><span>星期</span>日</td>
                        <td><span>星期</span>一</td>
                        <td><span>星期</span>二</td>
                        <td><span>星期</span>三</td>
                        <td><span>星期</span>四</td>
                        <td><span>星期</span>五</td>
                        <td><span>星期</span>六</td>
                    </tr>
                    </thead>
                    <tbody>
                        {loop $week['month'] $value}
                        <tr>
                            {loop $value $k $v}
                            <td>
                                <span>{$v}</span>
                                {if isset($list[$v])}
                                <ul>
                                    {loop $list[$v] $vv}
                                     <li class="{F:array_rand($other['background'])}" data-class="{$vv['goods']['title']}" data-time="{$vv['goods']['class_time']}" data-model="{$other['signCopy'][$vv['goods']['sign']]}" data-name="" data-grade="{if $vv['num']}{$vv['num']}课时{/if}">{$vv['goods']['title']}</li>
                                    {/loop}
                                </ul>
                                {/if}
                            </td>
                            {/loop}
                        </tr>
                        {/loop}
                    </tbody>
                </table>
            </div>
        </div>
        

        </div>
        <div class="class-detail">课程详情:</div>
        <div id="class-data">
            <ul>
                <li><span></span></li>
                <li>时间：<span></span></li>
                <li>教师：<span></span></li>
                <li>方式：<span></span></li>
                <li>学分：<span></span></li>
            </ul>
        </div>
        <div id="evaluate-box">
            <div>
                <img src="/ststic/study/images/calendar-evaluate.png">
                <form>
                    <p>我要评价</p>
                    <textarea placeholder="对老师课程还满意吗？"></textarea>
                    <ul>
                        <li>
                            <span>课程安排</span>
                            <div>
                                <div>
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                </div>
                            </div>
                            <span>满意</span>
                        </li>
                        <li>
                            <span>老师专业度</span>
                            <div>
                                <div>
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-y.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                    <img src="/ststic/study/images/star-g.png">
                                </div>
                            </div>
                            <span>非常满意</span>
                        </li>
                    </ul>
                    <button type="button">提交</button>
                </form>
                <span></span>
            </div>
        </div>

        <script>
            $(function(){
                var $dataLists=$("#class-data>ul>li>span");
                    $(".calendar-list>table>tbody td>ul>li").hover(function(){
                        $dataLists.html("");
                        var $this = $(this);
                        for(var i=0;i<5;i++){
                            if(i===0){
                                var classHtml=$this.attr("data-class");
                                if(classHtml==""){
                                    $dataLists.eq(i).parent("li").remove();
                                }
                                $dataLists.eq(i).html(classHtml);
                            }else if(i===1){
                                var timeHtml=$this.attr("data-time");
                                if(timeHtml==""){
                                    $dataLists.eq(i).parent("li").remove();
                                }
                                $dataLists.eq(i).html(timeHtml);
                            }else if(i===2){
                                var nameHtml=$this.attr("data-name");
                                if(nameHtml==""){
                                    $dataLists.eq(i).parent("li").remove();
                                }
                                $dataLists.eq(i).html(nameHtml);
                            }else if(i===3){
                                var modelHtml=$this.attr("data-model");
                                if(modelHtml==""){
                                    $dataLists.eq(i).parent("li").remove();
                                }
                                $dataLists.eq(i).html(modelHtml);
                            }else if(i===4){
                                var gradeHtml=$this.attr("data-grade");
                                if(gradeHtml==""){
                                    $dataLists.eq(i).parent("li").remove();
                                }
                                $dataLists.eq(i).html(gradeHtml);
                            }
                        }
                        if(parseFloat($("body").css("width"))>767) {
                            var thisWidth = parseFloat($this.css("width"));
                            var thisLeft = parseFloat($this.offset().left);
                            var thisTop = parseFloat($this.offset().top);
                            var thisBody = parseFloat($("body").css("width"));
                            var thisRight = thisBody - thisLeft - thisWidth;
                            if (thisRight < 258) {
                                $("#class-data").show().addClass("top-div").css({
                                    top: 40 + thisTop + "px",
                                    right: thisRight
                                });
                            } else {
                                $("#class-data").show().removeClass("top-div").css({
                                    top: thisTop - 20,
                                    right: thisRight - 278
                                });
                            }
                        }
                    })
                    $("body").on("mouseleave","#class-data",function(){
                        if(parseFloat($("body").css("width"))>767) {
                            $(this).hide();
                        }
                    })
            })
        </script>
        <script>
            +function(){
                $("#class-data>button").click(function(){
                    $("#evaluate-box").slideToggle();
                })
               $("#evaluate-box>div>form>ul>li>div").click(function(e){
                   var $index=Math.ceil((e.pageX-$(this).offset().left)/20);
                   $index=5-$index;
                   $(this).children("div").css("left",-20*$index+"px");
                   var $span=$(this).next();
                   console.log($index);
                   switch ($index){
                       case 4:
                           $span.html("非常不满意");
                           break;
                       case 3:
                           $span.html("不满意");
                           break;
                       case 2:
                           $span.html("良好");
                           break;
                       case 1:
                           $span.html("满意");
                           break;
                       case 0:
                           $span.html("非常满意");
                   }
               })
                $("#evaluate-box>div>span").click(function(){
                    $("#evaluate-box").slideToggle();
                })
            }()
        </script>
</body>

</html>
