    <div class="aside_menu">
        <div>
            <span>Business School</span>
            <!--弹出层-->
            <div class="pop_contact_way">
                <div>
                    <p>contact us</p>
                    <div>
                        <ul class="call_number">
                            <li>
                                <img src="/ststic/study/images/QQ_icon.png">
                                <span>QQ：</span>
                                <span>1005336621</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/weixin_icon.png">
                                <span>WeChat：</span>
                                <span>21546452</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/duanxin_icon.png">
                                <span>E-mail：</span>
                                <span>1005336621@qq.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="QR_code">
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>WeChat the public</p>
                        </div>
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span>High School</span>
            <!--弹出层-->
            <div class="pop_contact_way">
                <div>
                    <p>contact us</p>
                    <div>
                        <ul class="call_number">
                            <li>
                                <img src="/ststic/study/images/QQ_icon.png">
                                <span>QQ：</span>
                                <span>1005336621</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/weixin_icon.png">
                                <span>WeChat：</span>
                                <span>21546452</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/duanxin_icon.png">
                                <span>E-mail：</span>
                                <span>1005336621@qq.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="QR_code">
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>WeChat the public</p>
                        </div>
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span>Study abroad</span>
            <!--弹出层-->
            <div class="pop_contact_way">
                <div>
                    <p>contact us</p>
                    <div>
                        <ul class="call_number">
                            <li>
                                <img src="/ststic/study/images/QQ_icon.png">
                                <span>QQ：</span>
                                <span>1005336621</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/weixin_icon.png">
                                <span>WeChat：</span>
                                <span>21546452</span>
                            </li>
                            <li>
                                <img src="/ststic/study/images/duanxin_icon.png">
                                <span>E-mail：</span>
                                <span>1005336621@qq.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="QR_code">
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>WeChat the public</p>
                        </div>
                        <div>
                            <img src="/ststic/study/images/wx.jpg">
                            <p>APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>