<div class="bottom clearfix ">
    <div class="bottom-midd width1200">
        <ul>
            <?php 
                $map             = array();
                $map['parentid'] = 5;
                $map['is_show']  = 1;
                $columnList = table('Column')->where($map)->field('id,name,bname,jump_url')->find('array');
            ?>
            <li>
                <span>About Us</span>
                {loop $columnList $value}
                <a href="{$value['jump_url']}">{$value['bname']}</a>
                {/loop}
            </li>
            <?php 
                $map             = array();
                $map['parentid'] = 1;
                $map['is_show']  = 1;
                $columnList = table('Column')->where($map)->field('id,name,bname,jump_url')->find('array');
            ?>
            <li>
                <span>International Business School</span>
                {loop $columnList $value}
                <a href="{$value['jump_url']}">{$value['bname']}</a>
                {/loop}
            </li>
            <?php 
                $map             = array();
                $map['parentid'] = 2;
                $map['is_show']  = 1;
                $columnList = table('Column')->where($map)->field('id,name,bname,jump_url')->find('array');
            ?>
            <li>
                <span>High School</span>
                {loop $columnList $value}
                <a href="{$value['jump_url']}">{$value['bname']}</a>
                {/loop}
            </li>
        </ul>
        <div class="bottom-right">
            <div class="tel_dz"><span>Contact Us</span>
                <b>telephone：023-00000000</b>
                <b>address：重庆南岸区工惠路192号贝迪龙庭14楼2号</b>
            </div>
            <div class="img_wx"><img src="/ststic/study/images/wx.jpg" /><span>Official WeChat Code</span></div>
        </div>
    </div>
</div>                                                                    
<div class="Copyright">
    <div class="Copyright_box width1200">
        <p>Heng Ding College All rights reserved<span>Case Number：ICP00000000</span></p>
        <div class="share"><a href="#" class="wb"></a><a href="#" class="sq"></a><a href="#" class="qq"></a></div>
    </div>
</div>   