       
<div class="bottom clearfix ">
    <div class="bottom-midd width1200">
        <ul>
            <li>
                <span>关于我们</span>
                <a href="#">学院风采</a><a href="#">学生风采</a><a href="#">教育新闻</a>
            </li>
            <li>
                <span>国际商学院</span>
                <a href="#">学员简介</a><a href="#">课程详情</a><a href="#">留学部</a>
            </li>
            <li>
                <span>高中部</span>
                <a href="#">部门简介</a><a href="#">直播课程</a><a href="#">视频课程</a><a href="#">学霸共享计划</a>
            </li>
        </ul>
        <div class="bottom-right">
            <div class="tel_dz"><span>联系我们</span><b>电话：023-00000000</b><b>地址：重庆南岸区工惠路192号贝迪龙庭14楼2号</b></div>
            <div class="img_wx"><img src="/ststic/study/images/wx.jpg" /><span>官方微信二维码】</span></div>
        </div>
    </div>
</div>                                                                    
<div class="Copyright">
    <div class="Copyright_box width1200">
        <p>恒鼎学院版权所有<span>备案号：ICP00000000</span></p>
        <div class="share"><a href="#" class="wb"></a><a href="#" class="sq"></a><a href="#" class="qq"></a></div>
    </div>
</div>           