<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-预约一对一辅导</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
    	<link rel="stylesheet" href="/ststic/study/css/base.css">
    	<link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 

    	<script src="js/jquery.min.js"></script>
    	<script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>
   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>教师中心-评论管理</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
        <div class="classroom_right">
        		<h3 class=" t_students t_coach">预约一对一辅导</h3>
        	<div class="t_cr_left fl">
            	<b class="class_b">同学您好！</b>
                <span class="class_s">本套试题包括选择题和问答题，倒计时考试，时间到会立即关闭考试系统，自动保存到老师后台！</span>
                       <a class="begain_ans clearfix"  href="{F:url('initiated')}">立即预约</a>
            </div>
        	<div class="t_cr_right fr yy_pp navgation">
                <ul class="fudao_ul clearfix">
                	<li class="clearfix">
                    	<div class="li_left">
                    	<p class="title_names"><a href="#" class="name">雅思7.5分精品课程 </a></p>
                    	<p class="n_t_t"><b>【王冰冰】</b><span>2017/08/11<i></i>10:00-10:30</span><span>电话：15213435886</span></p>
                        <p class="yuyue_c">"您好老师，咋们的课程周期是多久，我基础差，认真学习这门课程应该是可以过的吧！”</p>                        </div>
                        <div class="right_li"><a class="xg_time" href="#">预约中</a></div>
                    </li>
                	<li class="clearfix">
                    	<div class="li_left">
                    	<p class="title_names"><a href="#" class="name">雅思7.5分精品课程 </a></p>
                    	<p class="n_t_t"><b>【王冰冰】</b><span>2017/08/11<i></i>10:00-10:30</span><span>电话：15213435886</span></p>
                        <p class="yuyue_c">"您好老师，咋们的课程周期是多久，我基础差，认真学习这门课程应该是可以过的吧！”</p>                        </div>
                        <div class="right_li"><a class="yy_su" href="#">已预约成功</a></div>
                    </li>
                
                	<li class="clearfix">
                    	<div class="li_left">
                    	<p class="title_names"><a href="#" class="name">雅思7.5分精品课程 </a></p>
                    	<p class="n_t_t"><b>【王冰冰】</b><span>2017/08/11<i></i>10:00-10:30</span><span>电话：15213435886</span></p>
                        <p class="yuyue_c">"您好老师，咋们的课程周期是多久，我基础差，认真学习这门课程应该是可以过的吧！”</p>                        </div>
                        <div class="right_li"><a class="xg_time" href="#">预约中</a></div>
                    </li>
                	<li class="clearfix">
                    	<div class="li_left">
                    	<p class="title_names"><a href="#" class="name">雅思7.5分精品课程 </a></p>
                    	<p class="n_t_t"><b>【王冰冰】</b><span>2017/08/11<i></i>10:00-10:30</span><span>电话：15213435886</span></p>
                        <p class="yuyue_c">"您好老师，咋们的课程周期是多久，我基础差，认真学习这门课程应该是可以过的吧！”</p>
                        </div>
                        <div class="right_li"><a class="yy_su" href="#">已预约成功</a></div>
                        <div class="hf_te">
                        	<p><span>张老师</span><b>回复</b>“认真学习DHA斯蒂芬哈苏fish官方反倒是被对手反倒能说服”</p>
                        </div>
			                       
                    </li>
                
                </ul>
                
                
            </div>
        </div>
        </div>
        
        
</body>

</html>