
<!DOCTYPE html>
<html>
   <head>
        <title>学生门户-预约一对一辅导</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="charset=utf-8" />
        <link rel="stylesheet" href="/ststic/study/css/base.css">
        <link rel="stylesheet" href="/ststic/study/css/center.css">
        <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 
        <script src="/ststic/study/js/jquery.min.js"></script>
        <script type="text/javascript" src="/ststic/study/js/moment.js"></script>
        <script type="text/javascript" src="/ststic/study/js/bootstrap-datetimepicker.js"></script>
      
        <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
        <script type="text/javascript" src="/ststic/study/js/common.js"></script>
        <script type="text/javascript" src="/vendor/layer/layer.js"></script>

   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>教师中心-评论管理</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
        <div class="classroom_right">
        		<h3 class=" t_students t_coach">预约一对一辅导</h3>
        	<div class="t_cr_left fl">
            	<b class="class_b">同学您好！</b>
                <span class="class_s">提交预约后请耐心等待，预约结果会在你的预约列表中。</span>
                       <a class="begain_ans clearfix"  href="{F:url('index')}">返回列表</a>
            </div>
        	<div class="t_cr_right fr yy_pp navgation">
                <form class="yuyue_fo">
                	<p><span>学生姓名：</span><input type="text" placeholder="请输入"/></p>
                    <div style="width:100%; height:20px" class="clearfix"></div>
                    <p><span>预约课程：</span>
                    	<dl class="select selects">
                            <dt>请选择</dt>
                            <dd>
                                <ul class="selects_ul">
                                    <li><a href="#">12131</a></li>
                                    <li><a href="#">下拉2</a></li>
                                    <li><a href="#">下拉3</a></li>
                                    <li><a href="#">下拉4</a></li>
                                    <li><a href="#">下拉5</a></li>
                                    <li><a href="#">下拉6</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </p>
                    <div style="width:100%; height:20px"></div>
                    <p><span>预约时间：</span>
                    	  <dl class="select select2">
                            <dt>请选择</dt>
                            <dd>
                                <ul>
                                    <li><a href="#">12131</a></li>
                                    <li><a href="#">下拉2</a></li>
                                    <li><a href="#">下拉3</a></li>
                                    <li><a href="#">下拉4</a></li>
                                    <li><a href="#">下拉5</a></li>
                                    <li><a href="#">下拉6</a></li>
                                </ul>
                            </dd>
                        </dl>
                    	  <dl class="select select2">
                            <dt>请选择</dt>
                            <dd>
                                <ul>
                                    <li><a href="#">12131</a></li>
                                    <li><a href="#">下拉2</a></li>
                                    <li><a href="#">下拉3</a></li>
                                    <li><a href="#">下拉4</a></li>
                                    <li><a href="#">下拉5</a></li>
                                    <li><a href="#">下拉6</a></li>
                                </ul>
                            </dd>
                        </dl>

                    </p>
                    <div style="width:100%; height:20px"></div>
                    <p><span>咨询内容：</span><textarea name="" cols="" rows="">请输入您所需的内容</textarea></p>
                    
                     <p><span>联系方式：</span><input type="text" placeholder="微信/qq/电话  选填一个即可"/></p>
                     <div style="width:100%; height:20px"></div>
                    <p><span></span><a class="brn_yuyue">立即预约</a></p>
                </form>
                
                
            </div>
        </div>
        </div>
        
        
</body>
<script type="text/javascript">
$(function(){
	$(".select").each(function(){
		var s=$(this);
		var z=parseInt(s.css("z-index"));
		var dt=$(this).children("dt");
		var dd=$(this).children("dd");
		var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};   //展开效果
		var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};    //关闭效果
		dt.click(function(){dd.is(":hidden")?_show():_hide();});
		dd.find("a").click(function(){dt.html($(this).html());_hide();});     //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
		$("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});
	})
})
</script>
</html>