
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <title>学生门户-学生成绩</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="charset=utf-8" />

      <link rel="stylesheet" href="/ststic/study/css/base.css">
      <link rel="stylesheet" href="/ststic/study/css/center.css">
      <link rel="stylesheet" href="/ststic/study/css/u_mob.css"> 

      <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
      <script type="text/javascript" src="/ststic/study/js/menu.js"></script>
      <script type="text/javascript" src="/ststic/study/js/common.js"></script>
      <script type="text/javascript" src="/vendor/layer/layer.js"></script>



   </head>
<body bgcolor="f1f1f1" >
	
        <div class="center">
        	<div id="navbar"><span><i class="ico2"></i>学生门户-学生成绩</span><a href="#" class="menubtn"></a>
        {include public/left_menus}
    </div>
            
            
            
        <div class="classroom_right ">
        	<h3 class="t_students t-mygrade">我的成绩</h3>
        	<div class="t_cr_lefts t_fbcj fl">
            	<ul class="div_ul3 clearfix">
                	<li><em>姓名：</em>{$user['real_name']}</li>
                    <li>
                    	<em>课程：</em>
                    	<dl class="select">
                          {if !$goodsid}
                          <dt>选择课程</dt>
                          {else}
                          <dt>{$courseList[$goodsid]['title']}</dt>
                          {/if}
                          <dd>
                              <ul class="selects_ul">
                              {loop $courseList $value}
                                  <li><a href="{F:url('',array('goodsid'=>$value['id']))}">{$value['title']}</a></li>
                              {/loop}
                              </ul>
                          </dd>
                      </dl>
                    </li>
                	<li><em>学号：</em>{F:sprintf('%08d',$user['uid'])}</li>
                </ul>
            </div>

     	<div class="t_cr_right fr">

            <table class="cj_table" >
            <thead>
            	<th>成绩项目</th>
            	<th>审批时间</th>
            	<th>分数</th></thead>
              {loop $list $value}
              <tr>
                <td><span>{$value['title']}</span></td>
                <td>{F:date('Y/m/d',$value['time'])}</td>
                <td><b>{$vlaue['score']}</b><span>/{$value['total']}</span></td>
              </tr>
              {/loop}
    
            </table>
            
           <!--  <p class="wenjian_d"><a href="#">恒鼎学院2017阿三就fish放到.pdf</a></p> -->

        </div>
            
    
        </div>
   </div>
   
</body>

<script type="text/javascript">
$(function(){
	$(".select").each(function(){
		var s=$(this);
		var z=parseInt(s.css("z-index"));
		var dt=$(this).children("dt");
		var dd=$(this).children("dd");
		var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};   //展开效果
		var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};    //关闭效果
		dt.click(function(){dd.is(":hidden")?_show():_hide();});
		dd.find("a").click(function(){dt.html($(this).html());_hide();});     //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
		$("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});
	})
})
</script>
</html>