<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>关于我们</title>
	<link rel="stylesheet" href="/ststic/study/css/base.css">
	<link rel="stylesheet" href="/ststic/study/css/comm.css">
	<link rel="stylesheet" href="/ststic/study/css/mob.css">

	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>

<body>
	{include public/top}
    <div class="banner clearfix">
        <div class="banner_box" align="center">
            <span><img src="/ststic/study/images/banner01.png" /></span>
        </div>
    </div>  
    <div class="ab_cont adjust">
    	<div class="ab_box width1200">
        	<div class="title">关于我们</div>
            <div class="cont width1200"><p>{$about['description']}</p></div>
        	<div class="notice width1200" style="margin:0 auto">
            	<div class="tab-hd">
            		<ul class="tab-nav">
            			<li ><a href="#" >恒鼎学院简介</a></li>
                        <li class="on"><a href="#" >联系我们</a></li>
                        <li ><a href="#" >合作院校</a></li>
            		</ul>
            	</div>
            	<div class="tab-bd clearfix">
            		<div class="tab-pal ">
                        {if $about['thumb']}
                    	   <div class="img"><img src="{F:imgUrl($about['thumb'],'article')}" /></div>
                        {/if}
                        <div class="cont_box"> {$about['content']}</div>
            		</div>
            		<div class="tab-pal">
                    	<div class="our_se">
                        	<div class="service">
                        	<h3>我们的服务制度</h3>
                            <p>该团队本着“教学促科研，科研出成果，成果获奖励，成果报项目，项目奖项带队伍，教师队伍促教学”的六环紧扣原则，提出了教改成果六个“一”的目标，即主持一批课题、建设一批精品课程、出版一批规划教材、研发一组考研品牌课程</p></div>
                            <b>澳洲恒鼎学院</b>
                            <div class="map_img"><img src="/ststic/study/images/map.jpg" /></div>
                            <h1>联系我们</h1>
                            <span>咨询电话：023-23654586</span><span>培训地址：重庆南岸区工惠路192号贝迪龙庭14楼2号</span><br>
                            <div class="line"></div>
                            <b>沈阳恒鼎学院</b>
                            <div class="map_img"><img src="/ststic/study/images/map2.jpg" /></div>
                            <h1>联系我们</h1>
                            <span>咨询电话：023-23654586</span><span>培训地址：重庆南岸区工惠路192号贝迪龙庭14楼2号</span>
                        </div>
            		</div>
            		<div class="tab-pal">
                    	<ul class="brand">
                        	<li><a href="#"><img src="/ststic/study/images/brand1.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand2.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand3.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand4.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand5.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand6.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand7.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand8.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand9.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand10.jpg" /></a></li>
                        </ul>
            		</div>
                    
            	</div>
        	</div>
        </div>
    </div>

<div class="clearfix"></div>
	{include public/footer}
</body>
<script>
jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });
</script>

</html>
