<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>{$this->parentColumn['bname']}</title>
	<link rel="stylesheet" href="/ststic/study/css/base.css">
	<link rel="stylesheet" href="/ststic/study/css/comm.css">
	<link rel="stylesheet" href="/ststic/study/css/mob.css">

	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>

<body>
	{include public/top_en}
    <div class="banner clearfix">
        <div class="banner_box" align="center">
            <span><img src="/ststic/study/images/banner01.png" /></span>
        </div>
    </div>  
    <div class="ab_cont adjust">
    	<div class="ab_box width1200">
        	<div class="title">About Us</div>
            <div class="cont width1200"><p>{$about['description_en']}</p></div>
        	<div class="notice width1200" style="margin:0 auto">
            	<div class="tab-hd">
            		<ul class="tab-nav">
            			<li ><a href="#">College Introduction</a></li>
                        <li class="on"><a href="#" >Contact Us</a></li>
                        <li ><a href="#">Partner Institutions</a></li>
            		</ul>
            	</div>
            	<div class="tab-bd clearfix">
            		<div class="tab-pal ">
                    	 {if $about['thumb']}
                           <div class="img"><img src="{F:imgUrl($about['thumb'],'article')}" /></div>
                        {/if}
                        <div class="cont_box"> {$about['content_en']}</div>
            		</div>
            		<div class="tab-pal">
                    	<div class="our_se">
                        	<div class="service">
                        	<h3>Our service system</h3>
                            <p>The team sticks to the principle of "six principles of teaching and promoting scientific research, fruitful achievements, rewarding achievements, rewarding projects, winning awards with projects, and promoting teaching through contingent of teachers", put forward the goal of six "one" education reform results, That is, presided over a number of topics, building a number of quality courses, publishing a number of planning materials, research and development of a group of Kaoyan brand courses</p></div>
                            <b>澳洲恒鼎学院</b>
                            <div class="map_img"><img src="/ststic/study/images/map.jpg" /></div>
                            <h1>联系我们</h1>
                            <span>咨询电话：023-23654586</span><span>培训地址：重庆南岸区工惠路192号贝迪龙庭14楼2号</span><br>
                            <div class="line"></div>
                            <b>沈阳恒鼎学院</b>
                            <div class="map_img"><img src="/ststic/study/images/map2.jpg" /></div>
                            <h1>联系我们</h1>
                            <span>咨询电话：023-23654586</span><span>培训地址：重庆南岸区工惠路192号贝迪龙庭14楼2号</span>
                        </div>
            		</div>
            		<div class="tab-pal">
                    	<ul class="brand">
                        	<li><a href="#"><img src="/ststic/study/images/brand1.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand2.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand3.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand4.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand5.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand6.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand7.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand8.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand9.jpg" /></a></li>
                        	<li><a href="#"><img src="/ststic/study/images/brand10.jpg" /></a></li>
                        </ul>
            		</div>
                    
            	</div>
        	</div>
        </div>
    </div>

<div class="clearfix"></div>
	{include public/footer_en}
</body>
<script>
jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });
</script>

</html>
