<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>证书查询</title>
    <link rel="stylesheet" href="/ststic/study/css/base.css">
    <link rel="stylesheet" href="/ststic/study/css/comm.css">
    <link rel="stylesheet" href="/ststic/study/css/mob.css">
    <script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>

</head>


<body>
	{include public/top_en}
    <div class="banner clearfix">
    </div>  

    <div class="chaxun clearfix">
    	<div class="cx_box width1200 clearfix">
        	<h3>证书查询方法</h3>
            <span>托福成绩查询方法>></span>
        	<p>1、登录教育部托福考试报名网站 (<a href="#"> toefl.etest.net.cn/cn</a> ) ;</p>
            <p>2、输入考生的NEED用户ID和密码登陆;</p>
            <p>3、在“我的首页”点击“查看成绩”进行托福考试成绩查询。</p>
            <p style="width:70%; height:20px; border-bottom:#ccc 1px dashed; margin:20px auto" class="clearfix"></p>
            <span>雅思成绩查询方法>></span>
        	<p>1、登录教育部托福考试报名网站 (<a href="#"> www.britishcouncil.cn</a> ) ;</p>
            <p>2、输入考生的NEED用户ID和密码登陆;</p>
            <p>3、在“我的首页”点击“查看成绩”进行托福考试成绩查询。</p>
        
        </div>
    
    </div>
	


<div class="clearfix"></div>
	{include public/footer_en}
</body>
</html>
