<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>新闻</title>
	<link rel="stylesheet" href="/ststic/study/css/base.css">
	<link rel="stylesheet" href="/ststic/study/css/comm.css">
    <link rel="stylesheet" href="/ststic/study/css/mob.css">
	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>

</head>


<body>
	{include public/top_en}
    <div class="banner clearfix">
    	<div class="banner_box">
        	<img src="images/banner01.png" />
        </div>
    </div>                                                                                                                    
	
    <div class="hs_cont clearfix adjust">
    	<div class="hs_box">
        	<div class="title">News Center</div>
            <div class="cont"><p>The team sticks to the principle of "six principles of teaching and promoting scientific research, scientific research achievements, achievements award, achievement report project, project awards and teaching force and teaching and learning" and put forward six "one" That is, presided over a number of topics, the construction of a number of quality courses, published a number of planning materials, research and development of a group Kaoyan brand courses to guide a group of students to participate in national competitions and awards</p></div>
            <ul class="news">
                {loop $list $value}
            	<li><a href="">
                	   <div class="img_news"><img src="{F:imgUrl($value['thumb'],'article')}" /></div>
                    </a>
                    <div class="right_new">
                    <b><a href="#">{$value['btitle']}</a></b>
                    <p class="time">Published：{F:date('Y/m-d',$value['publish_time'])}</p>
                    <p class="conts">{$value['description_en']}<a href="#">[more]</a></p></div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>

<div class="clearfix"></div>
   {include public/footer_en}
</body>
<script>
jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });
</script>
<script>
    +function(){
        $(".hs_cont .news li .right_new .conts").each(function(i,value){
            if($(value).text().length>=36){
                var newText=$(value).text().slice(0,37);
                var link=$(value).children("a").html();
                $(value).html(newText+"..."+link);
            }
        })
    }()
</script>
</html>
