<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <title>{$this->parentColumn['name']}</title>
    {include public/global_css}
	<script src="/ststic/study/js/jquery.min.js"></script>
    <script src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>


<body>
	{include public/top}
    <div class="banner clearfix">
    	<div class="banner_box" align="center">
        	<span><img src="/ststic/study/images/banner01.png" /></span>
        </div>
    </div>  
    <div class="gj_cont adjust">
    	<div class="hs_box width1200">
        	<div class="title">{$this->parentColumn['name']}</div>
            <div class="cont"><p>{$data['description']}</p></div>
        	<div class="notice width1200" style="margin:0 auto">
            	<div class="tab-hd">
            		<ul class="tab-nav ">
            			{loop $columnList $value}
                            <li {if $value['id'] == $cid}class="on"{/if}><a href="{$value['jump_url']}">{$value['name']}</a></li>
                        {/loop}
            		</ul>
            	</div>
            	<div class="tab-bd clearfix">
            		<div class="tab-pal width1200 ">
                    	<!-- <div class="img"><img src="images/img01.jpg" /></div> -->
                        <div class="cont_box">
                            {$data['content']}
                        </div>
            		</div>
            	</div>
        	</div>
        </div>
    </div>
<div class="clearfix"></div>
    {include public/footer}            
</body>
</script>
</html>
