<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
	<title>{$this->parentColumn['name']}</title>
    {include public/global_css}
    <script type="text/javascript" src="/ststic/study/js/jquery.min.js"></script>
    <script type="text/javascript" src="/ststic/study/js/common.js"></script>
    <script type="text/javascript" src="/vendor/layer/layer.js"></script>
</head>


<body>
    {include public/top}
    <div class="banner clearfix">
    	<div class="banner_box" align="center">
        	<span><img src="/ststic/study/images/banner01.png" /></span>
        </div>
    </div>  
    <div class="gj_cont adjust">
    	<div class="hs_box width1200">
        	<div class="title">国际商学院</div>
            <div class="cont"><p>该团队本着“教学促科研，科研出成果，成果获奖励，成果报项目，项目奖项带队伍，教师队伍促教学”的六环紧扣原则，提出了教改成果六个“一”的目标，即主持一批课题、建设一批精品课程、出版一批规划教材、研发一组考研品牌课程、指导一批学生参加国家赛事并获奖</p></div>
        	<div class="notice width1200" style="margin:0 auto">
            	<div class="tab-hd">
            		<ul class="tab-nav ">
            			{loop $columnList $value}
                            <li {if $value['id'] == $cid}class="on"{/if}><a href="{$value['jump_url']}">{$value['name']}</a></li>
                        {/loop}
            		</ul>
            	</div>
            	<div class="tab-bd clearfix">
            		<div class="tab-pal width1200">
                    	<ul class="azkc clearfix">
                            {loop $list['list'] $value}
                        	<li>
                            	<div class="imgs"><a href="{F:url('/index/course/detail',array('id'=>$value['id']))}"><img src="{F:imgUrl($value['thumb'],'article')}" /></a></div>
                                <div class="name">{$value['title']}</div>
                                <div class="keshi"><span>
                                {if $value['num']}
                                <i></i>{$value['num']}课时</span><span>
                                {/if}
                                
                                {loop $value['characteristics_copy'] $v}
                                    <i></i>{$v}</span><span> 
                                {/loop} 
                            </li>
                            {/loop}
                        </ul>
                        <div class="clearfix"> </div>
                            <a href="javascript:;" class="btn-loadmore" config-text="暂无更多" config-href="{F:url('lession_more',array('cid'=>$cid))}" config-page="2" config-elem=".azkc" style="display:block;margin:50px auto; clear:both"><img src="/ststic/study/images/pre.png" /></a>
                    
            		</div>
            	</div>
        	</div>
        </div>
    </div>

    
<div class="clearfix"></div>
    {include public/footer}
</body>
</html>
