.clearfix{ clear: both;height: 0px; }
.sr-content img{width: 100%;margin-top: 1rem;}
.sr-content{font-size: 13px; padding:0.2rem; line-height: 25px;}
.sr-content p{ font-size: 13px; padding:0.2rem; line-height: 25px; }