* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  background: none; }

img {
  display: block; }

.transX, .product .imgbox > ul > li > div img {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.transY, .about-header > a > img, .apply-container > form .proposer-data > ul > li > ul > li {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.special-body {
  padding-top: 2.2rem; }

a {
  color: #ffffff; }

.flex, .header, .index-nav > ul, .footer > ul, .about-intro > div:nth-child(2) > ul, .video-nav > ul, .product > ul > li:last-child, .store .store-choice, .store .store-list > li > ul, .news-list > ul > li > ul, .other-activity > ul > li, .flow > ul > li > ul, .apply-container > form .apply-basic > li, .apply-container > form > div > ul > li {
  display: flex;
  display: -webkit-flex; }

.lineF, .news-list > ul > li > ul > li, .apply-container > form .proposer-data > ul > li > ul > li {
  display: inline-flex;
  display: -webkit-inline-flex; }

.radius, .index-nav > ul > li > a > div, .video-container .video-intro > div > div, .flow > ul > li > ul > li:first-child, .flow > ul > li > ul > li:nth-child(3):after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.trans, .video-container .video-intro > div > div, .apply-container > form .proposer-data > ul > li > ul > li > div > img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.swiper-pagination-bullet-active {
  background: #7D3F72; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 1.2rem;
  align-items: center;
  justify-content: center;
  background: #7D3F72;
  z-index: 9999; }
  .header > span {
    font-size: 0.4666666667rem;
    font-weight: 800;
    color: #ffffff; }

.index-nav {
  width: 10rem;
  padding: 0 0.6rem;
  margin-top: 0.2266666667rem; }
  .index-nav > ul {
    justify-content: space-between; }
    .index-nav > ul:first-child > li:first-child > a > div {
      background-position-x: 0.3333333333rem; }
    .index-nav > ul:first-child > li:nth-child(2) > a > div {
      background-position-x: -2.84rem; }
    .index-nav > ul:first-child > li:nth-child(3) > a > div {
      background-position-x: -6.0133333333rem; }
    .index-nav > ul:first-child > li > a > div {
      background-image: url("../images/index-icon.png");
      background-size: 7.2266666667rem; }
    .index-nav > ul:last-child {
      margin-top: 0.8rem; }
      .index-nav > ul:last-child > li:first-child > a > div {
        background-position-x: 0.3733333333rem; }
      .index-nav > ul:last-child > li:nth-child(2) > a > div {
        background-position-x: -2.8rem; }
      .index-nav > ul:last-child > li:nth-child(3) > a > div {
        background-position-x: -6.0133333333rem; }
      .index-nav > ul:last-child > li > a > div {
        background-image: url("../images/index-icon2.png");
        background-size: 7.1066666667rem; }
    .index-nav > ul > li {
      width: 2.3733333333rem;
      text-align: center; }
      .index-nav > ul > li > a > div {
        margin: 0 auto;
        width: 1.6rem;
        height: 1.6rem;
        border: 1px solid #F7F0F0;
        background-repeat: no-repeat;
        background-position-y: center; }
      .index-nav > ul > li > a > p:nth-child(2) {
        font-size: 0.36rem;
        line-height: 1em;
        font-weight: 700;
        color: #882365;
        margin: 0.2rem 0; }
      .index-nav > ul > li > a > p:last-child {
        font-size: 0.3333333333rem;
        line-height: 1em;
        color: #C2C2C2; }

.footer {
  background: #ffffff;
  width: 10rem;
  height: 1.2933333333rem;
  border-top: 1px solid #E1E1E1;
  position: fixed;
  bottom: 0;
  left: 0; }
  .footer > ul {
    padding: 0 0.9066666667rem 0.1733333333rem;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end; }
    .footer > ul > li:first-child a > img {
      width: 0.5066666667rem; }
    .footer > ul > li:nth-child(2) > a > img {
      width: 0.48rem; }
    .footer > ul > li:nth-child(3) > a > img {
      width: 0.4533333333rem; }
    .footer > ul > li:nth-child(4) > a > img {
      width: 0.4533333333rem; }
    .footer > ul > li > a > img {
      margin: 0 auto; }
    .footer > ul > li > a .this-index {
      color: #69235D; }
    .footer > ul > li > a > p {
      text-align: center;
      font-size: 0.32rem;
      color: #858585;
      line-height: 1em;
      font-weight: 700;
      margin-top: 0.0933333333rem; }

.index-banner {
  position: relative; }
  .index-banner > img {
    width: 100%;
    position: relative;
    top: -0.44rem;
    z-index: 100; }
  .index-banner .index-circle {
    position: absolute;
    z-index: 150;
    line-height: 0; }
  .index-banner > div > div img {
    width: 100%; }

.about-header > a > img {
  width: 0.2666666667rem;
  position: absolute;
  left: 0.4rem; }

.about-title {
  padding: 0.96rem 0 0.52rem 0.4rem; }
  .about-title > p:first-child {
    font-size: 0.4rem;
    line-height: 1em;
    margin-bottom: 0.2666666667rem;
    color: #C8943A; }
  .about-title > p:last-child {
    font-size: 0.4933333333rem;
    line-height: 1em;
    color: #7D3F72;
    font-weight: 700; }

.about-intro > div:first-child > img {
  width: 10rem; }
.about-intro > div:nth-child(2) {
  position: relative;
  width: 10rem;
  height: 1.0133333333rem;
  background: #DAC2A5; }
  .about-intro > div:nth-child(2) > ul {
    padding: 0.4666666667rem 0.36rem 0.5066666667rem 0.4rem;
    color: #ffffff;
    position: absolute;
    background: #7D3F72;
    right: 0.4rem;
    bottom: 50%;
    z-index: 999;
    font-size: 0.4266666667rem;
    line-height: 0.5066666667rem; }
    .about-intro > div:nth-child(2) > ul > li {
      width: 0.4266666667rem;
      margin-right: 0.2rem; }
      .about-intro > div:nth-child(2) > ul > li:last-child {
        margin-right: 0; }
.about-intro > div:nth-child(3) {
  padding: 0.4666666667rem 0.4rem 0;
  font-size: 13px;
  line-height: 25px;
  text-indent: 26px;
  color: #737271;
  font-weight: 700;
  text-align: justify; }

.video-nav {
  background: #ffffff;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 1.2rem;
  width: 10rem;
  height: 1rem;
  border-bottom: 0.0133333333rem solid #BDBDBD; }
  .video-nav > ul {
    width: 100%;
    justify-content: space-between; }
    .video-nav > ul > li > a {
      display: block;
      line-height: 0.96rem;
      font-size: 0.36rem;
      color: #717171;
      font-weight: 700;
      padding: 0 0.4266666667rem;
      border-bottom: 0.04rem solid transparent; }
    .video-nav > ul > li .intro-hover {
      border-bottom-color: #C39A49;
      color: #C39A49; }

.video-container .video-intro > div {
  position: relative; }
  .video-container .video-intro > div > img {
    width: 10rem; }
  .video-container .video-intro > div > div {
    position: absolute;
    width: 1.9733333333rem;
    height: 1.9733333333rem;
    background: rgba(0, 0, 0, 0.2) url("../images/bofang-icon.png") no-repeat 0.7066666667rem center;
    background-size: 0.84rem; }
  .video-container .video-intro > div > video {
    width: 10rem;
    display: none; }
.video-container .video-intro > ul {
  background: #F5F5F5;
  padding: 0.5466666667rem 0 0.64rem; }
  .video-container .video-intro > ul > li {
    color: #AEAEAE;
    font-size: 0.3466666667rem;
    line-height: 0.5066666667rem;
    text-align: center; }
    .video-container .video-intro > ul > li:first-child {
      font-size: 0.6rem;
      line-height: 1em;
      font-weight: 800;
      color: #74376A;
      margin-bottom: 0.24rem; }

.company-intro {
  width: 10rem;
  padding: 0.4666666667rem 0.4rem 0; }
  .company-intro > ul li {
    width: 100%; }
    .company-intro > ul li:first-child {
      margin-bottom: 0.44rem; }
      .company-intro > ul li:first-child > img {
        width: 100%; }
    .company-intro > ul li:last-child {
      font-size: 0.36rem;
      color: #737271;
      line-height: 0.72rem;
      text-indent: 0.72rem;
      text-align: justify; }

.contact {
  padding: 0.4666666667rem 0.4rem 0; }
  .contact > ul {
    width: 100%;
    text-align: center; }
    .contact > ul > li {
      width: 100%; }
      .contact > ul > li:first-child {
        margin-bottom: 0.84rem; }
        .contact > ul > li:first-child > img {
          width: 100%; }
      .contact > ul > li:nth-child(2) {
        font-size: 0.4266666667rem;
        line-height: 1em;
        color: #191919;
        font-weight: 800;
        margin-bottom: 0.48rem; }
      .contact > ul > li:nth-child(3) {
        font-size: 0.3333333333rem;
        color: #989898;
        line-height: 1em; }
        .contact > ul > li:nth-child(3):after {
          content: "";
          display: block;
          margin: 0.4133333333rem auto 0;
          border-bottom: 0.0133333333rem solid #C6C6C6;
          width: 0.7733333333rem; }
      .contact > ul > li:nth-child(4) {
        font-size: 0.3333333333rem;
        color: #989898;
        line-height: 1em;
        margin-top: 0.36rem;
        margin-bottom: 0.36rem; }
      .contact > ul > li:nth-child(5) {
        color: #191919;
        font-size: 0.3466666667rem;
        line-height: 0.56rem;
        padding: 0 0.8666666667rem; }
      .contact > ul > li:nth-child(6) {
        margin-top: 0.48rem; }
        .contact > ul > li:nth-child(6) > img {
          margin: 0 auto;
          width: 2.1066666667rem; }

.product-nav {
  padding: 0 0.4rem; }
  .product-nav > ul > li > a {
    padding: 0 0.16rem; }

.product {
  width: 10rem; }
  .product .imgbox {
    overflow-x: hidden; }
    .product .imgbox > ul:after {
      content: "";
      display: block;
      clear: both; }
    .product .imgbox > ul > li {
      float: left;
      width: 10rem;
      overflow: hidden;
      text-align: center; }
      .product .imgbox > ul > li > div {
        width: 10rem;
        height: 9.1733333333rem;
        position: relative; }
        .product .imgbox > ul > li > div img {
          position: absolute;
          bottom: 0;
          max-width: 7.7333333333rem;
          max-height: 8rem; }
      .product .imgbox > ul > li p:nth-child(2) {
        margin-top: 0.8rem;
        margin-bottom: 0.3866666667rem; }
        .product .imgbox > ul > li p:nth-child(2) > a {
          display: block;
          font-size: 0.5333333333rem;
          color: #7D3F72;
          line-height: 1em; }
      .product .imgbox > ul > li p:nth-child(3) {
        font-size: 0.4rem;
        line-height: 1em;
        color: #888888; }
  .product > ul {
    margin-top: 0.4666666667rem;
    text-align: center; }
    .product > ul > li:first-child {
      font-size: 0.32rem;
      line-height: 1em;
      color: #888888; }
    .product > ul > li:last-child {
      margin-top: 0.56rem;
      justify-content: center; }
      .product > ul > li:last-child > span {
        width: 0.2133333333rem;
        height: 0.2133333333rem;
        border: 0.0266666667rem solid #BEBEBE;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-right: 0.1333333333rem; }
        .product > ul > li:last-child > span:last-child {
          margin-right: 0; }
      .product > ul > li:last-child .pro-i {
        border: none;
        background: #D5A775; }

.map-header {
  padding: 0 0.4rem;
  justify-content: space-between; }
  .map-header > a:first-child > img {
    width: 0.2666666667rem; }
  .map-header > a:last-child > img {
    width: 0.5066666667rem; }

.BMap_bubble_title {
  font-size: 0.3866666667rem;
  color: #713867;
  font-weight: bold; }

.BMap_bubble_content {
  font-size: 0.3466666667rem;
  line-height: 0.5866666667rem;
  color: #8F8F8F; }

.store {
  width: 10rem;
  padding: 0.48rem 0.4rem 0; }
  .store .store-search {
    width: 100%;
    position: relative; }
    .store .store-search > h3 {
      width: 0.56rem;
      height: 0.56rem;
      position: absolute;
      top: 0.2266666667rem;
      right: 0.4266666667rem;
      background: url("../images/search-icon.png") no-repeat;
      background-size: 0.56rem; }
    .store .store-search > input {
      display: block;
      width: 100%;
      line-height: 0.9733333333rem;
      padding: 0 0.9733333333rem 0 0.4266666667rem;
      color: #8F8F8F;
      font-size: 0.3733333333rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      border-radius: 0.5rem;
      border: 0.0266666667rem solid #C4C4C4; }
  .store .store-choice {
    margin-top: 0.6533333333rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem; }
    .store .store-choice > li {
      padding-left: 0.4533333333rem;
      line-height: 0.3733333333rem;
      font-size: 0.36rem;
      background-size: 0.3066666667rem;
      background-repeat: no-repeat;
      color: #858585; }
      .store .store-choice > li:nth-child(2) {
        padding-left: 0;
        line-height: 0;
        height: 0.3066666667rem;
        width: 1px;
        background: #D1D1D1; }
      .store .store-choice > li:first-child {
        background-image: url("../images/add-icon.png"); }
      .store .store-choice > li:last-child {
        background-image: url("../images/near-icon.png"); }
  .store .store-list {
    width: 100%;
    margin-top: 0.64rem; }
    .store .store-list > li {
      border-top: 0.0133333333rem solid #E1E1E1;
      padding: 0.5066666667rem 0 0.3733333333rem; }
      .store .store-list > li > p {
        margin-bottom: 0.2133333333rem; }
        .store .store-list > li > p > a {
          display: block;
          font-size: 0.4266666667rem;
          color: #404040;
          line-height: 1em;
          font-weight: 700; }
      .store .store-list > li > ul {
        justify-content: space-between; }
        .store .store-list > li > ul > li {
          color: #949494; }
          .store .store-list > li > ul > li:first-child {
            font-size: 0.36rem;
            line-height: 0.52rem; }
          .store .store-list > li > ul > li:last-child {
            font-size: 0.3066666667rem;
            line-height: 1em;
            margin-left: 1.2rem; }

.news-list {
  width: 10rem; }
  .news-list > ul {
    background: #F0F0F0; }
    .news-list > ul > li {
      margin-bottom: 0.4rem;
      background: #ffffff;
      padding: 0.6133333333rem 0.4rem 0.4533333333rem; }
      .news-list > ul > li:last-child {
        margin-bottom: 0; }
      .news-list > ul > li > h3 {
        margin-bottom: 0.3866666667rem; }
        .news-list > ul > li > h3 > a {
          display: block;
          font-size: 0.4rem;
          line-height: 1em;
          color: #3B3B3B;
          font-weight: 700; }
        .news-list > ul > li > h3:hover {
          color: #7D3F72; }
      .news-list > ul > li > img {
        width: 100%;
        margin-bottom: 0.3333333333rem; }
      .news-list > ul > li > p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 0.3466666667rem;
        line-height: 0.5866666667rem;
        color: #7D7D7D;
        text-align: justify; }
      .news-list > ul > li > ul {
        border-top: 0.0133333333rem solid #E1E1E1;
        margin-top: 0.2266666667rem;
        padding-top: 0.36rem;
        color: #7D7D7D;
        line-height: 0.3733333333rem;
        font-size: 0.32rem;
        align-items: center; }
        .news-list > ul > li > ul > li {
          align-items: center; }
          .news-list > ul > li > ul > li:first-child {
            margin-right: 0.5333333333rem; }
          .news-list > ul > li > ul > li:nth-child(2) {
            margin-right: 0.5333333333rem; }
            .news-list > ul > li > ul > li:nth-child(2) > img {
              display: inline-block;
              width: 0.3733333333rem;
              margin-right: 0.1466666667rem; }
          .news-list > ul > li > ul > li:nth-child(3) > img {
            display: inline;
            width: 0.3733333333rem;
            margin-right: 0.1466666667rem; }

.message {
  padding: 0.5333333333rem 0.4rem 0; }
  .message > h3 {
    color: #343434;
    font-size: 0.4533333333rem;
    line-height: 0.72rem;
    margin-bottom: 0.1333333333rem; }
  .message > p {
    color: #7D7D7D;
    font-size: 0.2266666667rem;
    line-height: 1em;
    margin-bottom: 0.44rem; }
  .message > img {
    width: 100%;
    margin-bottom: 0.5466666667rem; }
  .message > ul {
    line-height: 0.6rem;
    font-size: 0.36rem;
    text-indent: 0.72rem;
    color: #7D7D7D; }

.activity > ul {
  padding: 0.64rem 0 0.4666666667rem 0.4rem; }
  .activity > ul > li:first-child {
    color: #020202;
    font-size: 0.44rem;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0.1733333333rem; }
  .activity > ul > li:last-child {
    color: #959595;
    font-size: 0.2666666667rem; }
.activity .active-box {
  padding: 0.2rem 0.4rem 0.5333333333rem; }
  .activity .active-box .active-img {
    position: relative;
    -webkit-box-shadow: 0 0 13px #D8C4C4;
    -moz-box-shadow: 0 0 13px #D8C4C4;
    box-shadow: 0 0 13px #D8C4C4; }
    .activity .active-box .active-img > a {
      display: block;
      width: 100%; }
      .activity .active-box .active-img > a > img {
        width: 100%; }
    .activity .active-box .active-img > ul {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      padding: 0.2266666667rem 0 0.2266666667rem 0.2666666667rem; }
      .activity .active-box .active-img > ul > li:first-child {
        color: #ffffff;
        font-size: 0.3466666667rem;
        margin-bottom: 0.1333333333rem;
        font-weight: 700; }
      .activity .active-box .active-img > ul > li:nth-child(2) {
        font-size: 0.2266666667rem;
        color: #B1A29C;
        line-height: 1em; }
.activity .active-circle {
  line-height: 0;
  position: static;
  margin-top: 0.3333333333rem; }
  .activity .active-circle > span {
    background: #ffffff;
    width: 0.2133333333rem;
    height: 0.2133333333rem;
    border: 0.0266666667rem solid #BEBEBE;
    opacity: 1; }
  .activity .active-circle .swiper-pagination-bullet-active {
    border: none;
    background: #D5A775; }

.other-activity {
  width: 10rem;
  padding-top: 0.3333333333rem;
  background: #E1E1E1; }
  .other-activity > ul {
    width: 10rem;
    padding: 0 0.4rem;
    background: #ffffff; }
    .other-activity > ul > li {
      padding: 0.4666666667rem 0;
      justify-content: space-between;
      border-bottom: 0.0133333333rem solid #E1E1E1; }
      .other-activity > ul > li:last-child {
        border-bottom: none; }
      .other-activity > ul > li > div {
        height: 2.6666666667rem;
        width: 2.6666666667rem;
        overflow: hidden;
        -webkit-border-radius: 0.1066666667rem;
        -moz-border-radius: 0.1066666667rem;
        border-radius: 0.1066666667rem;
        margin-right: 0.4133333333rem; }
        .other-activity > ul > li > div > img {
          width: 100%; }
      .other-activity > ul > li > ul {
        flex: 1; }
        .other-activity > ul > li > ul > li {
          color: #8B8B8B; }
          .other-activity > ul > li > ul > li:first-child {
            margin-bottom: 0.24rem; }
            .other-activity > ul > li > ul > li:first-child > a {
              display: block;
              color: #020202;
              font-weight: 700;
              font-size: 0.4266666667rem;
              line-height: 0.56rem; }
          .other-activity > ul > li > ul > li:nth-child(2) {
            font-size: 0.24rem;
            line-height: 1em; }
          .other-activity > ul > li > ul > li:nth-child(3) {
            font-size: 0.32rem;
            line-height: 0.4933333333rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; }

.write > form {
  font-size: 0.3466666667rem;
  color: #020202; }
  .write > form > textarea {
    width: 100%;
    padding: 0.5333333333rem 0.4rem 0.2133333333rem 1.0266666667rem;
    resize: none;
    height: 4.6rem;
    border-bottom: 0.0133333333rem solid #DDDDE4;
    background: #ffffff url("../images/pen-icon.png") no-repeat 0.4rem 0.5333333333rem;
    background-size: 0.4666666667rem;
    line-height: 0.5066666667rem; }
  .write > form > input {
    margin-top: 0.16rem;
    width: 10rem;
    height: 1.4666666667rem;
    line-height: 1.3066666667rem;
    border-top: 0.0133333333rem solid #DDDDE4;
    border-bottom: 0.0133333333rem solid #DDDDE4;
    background: #ffffff url("../images/phone-icon.png") no-repeat 0.4133333333rem 0.4133333333rem;
    background-size: 0.3866666667rem;
    padding-left: 1.04rem; }
  .write > form > div {
    width: 10rem;
    padding: 0 0.4rem;
    margin-top: 1rem; }
    .write > form > div > button {
      width: 100%;
      background: #7D3F72;
      line-height: 1.2rem;
      height: 1.2rem;
      text-align: center;
      color: #fff;
      font-size: 0.4533333333rem;
      -webkit-border-radius: 0.08rem;
      -moz-border-radius: 0.08rem;
      border-radius: 0.08rem; }

.join {
  padding: 0.88rem 0.4rem 1.5333333333rem; }
  .join > h3 {
    margin-bottom: 0.2133333333rem; }
    .join > h3 > img {
      width: 4.0933333333rem; }
  .join > div {
    width: 100%;
    margin-bottom: 0.6rem; }
    .join > div > img {
      width: 3.9333333333rem; }
  .join > img {
    width: 100%;
    margin-bottom: 0.76rem; }
  .join > ul {
    width: 9.04rem;
    margin: 0 auto;
    padding-left: 0.3733333333rem;
    border-left: 0.04rem solid #E5E5E5; }
    .join > ul > li {
      font-size: 13px;
      line-height: 22px;
      color: #4A4A4A;
      position: relative;
      margin-bottom: 0.7466666667rem; }
      .join > ul > li > span {
        position: absolute;
        width: 0.1466666667rem;
        height: 0.2rem;
        background: #ffffff;
        top: 0.2266666667rem;
        left: -0.4666666667rem; }
        .join > ul > li > span:after {
          content: "";
          position: absolute;
          bottom: 0.0266666667rem;
          width: 0.1466666667rem;
          height: 0.1466666667rem;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #C39A49; }
      .join > ul > li:last-child {
        margin-bottom: 0; }
        .join > ul > li:last-child > span {
          top: 0.1733333333rem;
          height: 0.5333333333rem; }
          .join > ul > li:last-child > span:after {
            bottom: auto;
            top: 0.0266666667rem; }
      .join > ul > li:first-child > span {
        top: -0.1333333333rem;
        height: 0.5333333333rem; }

.flow {
  padding: 0.7466666667rem 0.4rem 0.5733333333rem; }
  .flow > img:first-child {
    width: 6.0933333333rem; }
  .flow > img:nth-child(2) {
    width: 4.3066666667rem;
    margin: 0.16rem 0 0.32rem; }
  .flow > ul {
    padding-top: 0.5333333333rem;
    width: 100%; }
    .flow > ul > li {
      width: 100%; }
      .flow > ul > li > ul {
        width: 100%;
        align-items: flex-start; }
        .flow > ul > li > ul > li {
          flex-shrink: 0; }
          .flow > ul > li > ul > li:first-child {
            width: 0.48rem;
            height: 0.48rem;
            line-height: 0.48rem;
            text-align: center;
            background: #EBE3D6;
            font-size: 0.2933333333rem;
            color: #ffffff;
            margin-right: 0.2133333333rem; }
          .flow > ul > li > ul > li:nth-child(2) {
            line-height: 0.48rem;
            color: #414040;
            font-size: 0.36rem;
            font-weight: 800;
            margin-right: 0.3866666667rem; }
          .flow > ul > li > ul > li:nth-child(3) {
            flex: 1;
            line-height: 0.48rem;
            font-size: 0.3333333333rem;
            color: #9B9B9B;
            padding-bottom: 0.96rem;
            padding-left: 0.3333333333rem;
            border-left: 0.0266666667rem solid #F3F3F3;
            position: relative; }
            .flow > ul > li > ul > li:nth-child(3):after {
              content: "";
              position: absolute;
              width: 0.1066666667rem;
              height: 0.1066666667rem;
              background: #DAD0C0;
              top: 0.1733333333rem;
              left: -0.0533333333rem; }
      .flow > ul > li:first-child > ul > li:nth-child(3):before {
        position: absolute;
        content: "";
        width: 0.1333333333rem;
        height: 0.5333333333rem;
        top: -0.3466666667rem;
        left: -0.0666666667rem;
        background: #ffffff; }
      .flow > ul > li:last-child > ul > li:nth-child(3):before {
        content: "";
        position: absolute;
        height: 1.8rem;
        width: 0.1333333333rem;
        background: #ffffff;
        top: 0.28rem;
        left: -0.0666666667rem; }

.apply-container {
  padding: 0.76rem 0.4rem 0.8666666667rem;
  width: 10rem; }
  .apply-container .apply-title {
    margin-bottom: 0.4666666667rem; }
    .apply-container .apply-title > img:first-child {
      width: 3.8666666667rem;
      margin-bottom: 0.24rem; }
    .apply-container .apply-title > img:last-child {
      width: 2.1066666667rem; }
  .apply-container > form .apply-basic {
    width: 100%;
    border: 0.0133333333rem solid #DBDBDB;
    border-bottom: none; }
    .apply-container > form .apply-basic > li {
      width: 100%;
      border-bottom: 0.0133333333rem solid #DBDBDB; }
      .apply-container > form .apply-basic > li > div {
        padding-left: 0.4666666667rem;
        width: 3.4666666667rem;
        border-right: 0.0133333333rem solid #DBDBDB;
        color: #4D4D4D;
        font-size: 0.3733333333rem;
        font-weight: 700;
        line-height: 1.3333333333rem; }
      .apply-container > form .apply-basic > li > input {
        flex: 1;
        padding-left: 0.4666666667rem;
        font-size: 0.3466666667rem;
        line-height: 1.3333333333rem;
        background: none; }
      .apply-container > form .apply-basic > li:last-child {
        display: block;
        padding: 0.4666666667rem 0.6rem 0.4rem; }
        .apply-container > form .apply-basic > li:last-child > img {
          width: 2.6933333333rem;
          margin: 0 auto 0.3333333333rem; }
        .apply-container > form .apply-basic > li:last-child > p {
          font-size: 0.3466666667rem;
          line-height: 0.56rem;
          color: #757575;
          font-weight: 700;
          text-align: center; }
  .apply-container > form .company-data {
    margin-top: 1.7066666667rem; }
    .apply-container > form .company-data > li {
      font-size: 0.3466666667rem;
      color: #757575;
      line-height: 1em;
      font-weight: 700;
      margin-bottom: 0.2933333333rem; }
      .apply-container > form .company-data > li:first-child {
        margin-bottom: 0.56rem;
        line-height: 0; }
        .apply-container > form .company-data > li:first-child > img {
          width: 5.7066666667rem; }
      .apply-container > form .company-data > li:last-child {
        line-height: 0.64rem;
        text-indent: 0.6933333333rem;
        margin-top: 0.84rem;
        margin-bottom: 0; }
  .apply-container > form .company-cognition {
    margin-top: 1.0133333333rem; }
    .apply-container > form .company-cognition > ul > li > * {
      height: 1.2rem; }
    .apply-container > form .company-cognition > ul > li > div {
      padding-left: 0.3733333333rem;
      line-height: 1.1733333333rem;
      color: #4D4D4D;
      font-weight: 700;
      border-right: 0.0133333333rem solid #D3D3D3;
      font-size: 0.3466666667rem;
      width: 2.5333333333rem; }
    .apply-container > form .company-cognition > ul > li > textarea {
      background: none;
      flex: 1;
      padding: 0.2rem 0.2666666667rem;
      height: 1.2rem;
      resize: none;
      font-size: 0.3466666667rem;
      line-height: 0.56rem; }
  .apply-container > form .proposer-data > ul > li > input {
    padding-left: 0.24rem;
    line-height: 1.1733333333rem;
    width: 100%; }
  .apply-container > form .proposer-data > ul > li > ul > li {
    position: absolute;
    right: 0.2rem;
    align-items: center; }
    .apply-container > form .proposer-data > ul > li > ul > li > div {
      height: 0.8rem;
      width: 1rem;
      position: relative; }
      .apply-container > form .proposer-data > ul > li > ul > li > div > img {
        position: absolute;
        width: 100%; }
    .apply-container > form .proposer-data > ul > li > ul > li > img {
      height: 0.4rem;
      margin-left: 0.1333333333rem; }
    .apply-container > form .proposer-data > ul > li > ul > li > input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0; }
  .apply-container > form .proposer-data > ul > li > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0.24rem;
    line-height: 1.1733333333rem;
    width: 100%;
    color: #9C9C9C;
    background: url("../images/apply-down.png") no-repeat 8.3333333333rem center;
    background-size: 0.4rem; }
  .apply-container > form .proposer-data > ul > li > div {
    flex: 1;
    line-height: 1.1733333333rem;
    padding-left: 0.24rem;
    font-size: 0.3466666667rem; }
    .apply-container > form .proposer-data > ul > li > div:first-child {
      border-right: 0.0133333333rem solid #D3D3D3; }
    .apply-container > form .proposer-data > ul > li > div > * {
      width: 100%; }
    .apply-container > form .proposer-data > ul > li > div > select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("../images/apply-down.png") no-repeat 3.4666666667rem center;
      background-size: 0.4rem;
      color: #9C9C9C; }
    .apply-container > form .proposer-data > ul > li > div input::-webkit-input-placeholder {
      color: #9C9C9C; }
    .apply-container > form .proposer-data > ul > li > div input:-moz-placeholder {
      color: #9C9C9C; }
    .apply-container > form .proposer-data > ul > li > div input::-moz-placeholder {
      color: #9C9C9C; }
    .apply-container > form .proposer-data > ul > li > div input:-ms-input-placeholder {
      color: #9C9C9C; }
    .apply-container > form .proposer-data > ul > li > div input::placeholder {
      color: #9C9C9C; }
  .apply-container > form .apply-plan > textarea {
    width: 100%;
    padding: 0.2666666667rem;
    border: 0.0133333333rem solid #d3d3d3;
    resize: none;
    height: 2.4rem;
    overflow-y: auto;
    font-size: 0.3466666667rem;
    line-height: 0.56rem; }
  .apply-container > form > div > p {
    color: #2E2E2E;
    font-weight: 700;
    font-size: 0.3466666667rem;
    line-height: 1em;
    margin-bottom: 0.4533333333rem; }
  .apply-container > form > div {
    margin-bottom: 0.9066666667rem; }
    .apply-container > form > div:last-child {
      margin-bottom: 0; }
    .apply-container > form > div > ul {
      border: 0.0133333333rem solid #D3D3D3;
      border-bottom: none;
      width: 100%; }
      .apply-container > form > div > ul > li {
        position: relative;
        border-bottom: 0.0133333333rem solid #D3D3D3; }
  .apply-container > form > button {
    width: 100%;
    -webkit-border-radius: 0.0933333333rem;
    -moz-border-radius: 0.0933333333rem;
    border-radius: 0.0933333333rem;
    color: #ffffff;
    background: #7D3F72;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.4266666667rem;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
